Repository meshery/meshery.io, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/catalog, area/website

.github/labeler.yml:

area/docs:
  - "*.md"
area/ci:
  - ".github/**/*"
area/catalog:
  - "collections/_catalog/**/*"
  - "catalog/**/*"
  - "_data/patterns.json"
area/website:
  - "*"

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

positioning tweak
  _sass/catalog.scss
Labels: none

Consistent border radius and removed white outline
  _includes/homePage.html
  _sass/forms.scss
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

[Catalog] Update Catalog items
  catalog/f38dd71b-9636-4103-b298-80af8573ea6f.yaml
  collections/_catalog/deployment/ashishdesign4-cronjob.md
  collections/_catalog/deployment/istioinstallationforcatalogcop.md
Labels: area/catalog

[Catalog] Update Catalog items
  catalog/0abbb3bd-3ce7-4fb5-8ca5-8863d6fe3660.yaml
  collections/_catalog/deployment/ashishdesign3-emojivoto.md
  collections/_catalog/deployment/ashishdesign4-cronjob.md
  collections/_catalog/deployment/istioinstallationforcatalogcop.md
Labels: area/catalog

[Catalog] Update Catalog items
  catalog/d69852d6-0c22-4407-b20e-eb74e616c8b9.yaml
  collections/_catalog/deployment/ashishdesign1-nginx.md
  collections/_catalog/deployment/ashishdesign3-emojivoto.md
  collections/_catalog/deployment/ashishdesign4-cronjob.md
  collections/_catalog/deployment/istioinstallationforcatalogcop.md
Labels: area/catalog

[Catalog] Update Catalog items
  catalog/1138482b-9363-4242-8ade-97fc94082d07.yaml
  collections/_catalog/deployment/ashishdesign1-nginx.md
  collections/_catalog/deployment/ashishdesign2-bookinfoapp.md
  collections/_catalog/deployment/ashishdesign3-emojivoto.md
  collections/_catalog/deployment/ashishdesign4-cronjob.md
  collections/_catalog/deployment/istioinstallationforcatalogcop.md
Labels: area/catalog

remove white background
  images/istio.svg
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

[Docs] Generated documentation for Integration
  images/nginx-ingress-color.svg
  images/nginx-ingress-white.svg
  integrations/data.json
Labels: none

Text SUBSCRIBE inside button is aligned properly #959
  css/subscribe.css
Labels: none

fix: update link
  _includes/partials/community.html
Labels: none

kuma
  images/Kuma.svg
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

[Catalog]Opening link in new tab
  _includes/read-more.html
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

[Catalog] Text colour and modal-chip alignment issue #962
  _sass/catalog.scss
  _sass/elements.scss
Labels: none

added theme documentation
  CONTRIBUTING.md
  _includes/footer.html
Labels: area/docs, area/website

[Catalog]Fix Spelling
  _includes/patterns-filter.html
Labels: none

Publish meshery-operator-v0.6.43.tgz meshery-v0.6.43.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.43.tgz
  charts/meshery-v0.6.43.tgz
Labels: none

Publish meshery-operator-v0.6.44.tgz meshery-v0.6.44.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.44.tgz
  charts/meshery-v0.6.44.tgz
Labels: none

spelling
  CONTRIBUTING.md
Labels: area/docs, area/website

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Apply suggestions from code review
  _sass/forms.scss
Labels: none

Update _includes/homePage.html
  _includes/homePage.html
Labels: none

CSS Updated
  _sass/catalog.scss
Labels: none

[Docs] Generated documentation for Integration
  images/jira-service-desk-operator-color.svg
  images/jira-service-desk-operator-white.svg
  integrations/data.json
Labels: none

[Docs] Generated documentation for Integration
  images/kubeflow-color.svg
  images/kubeflow-white.svg
  images/mpi-operator-color.svg
  images/mpi-operator-white.svg
  images/mysql-operator-color.svg
  images/mysql-operator-white.svg
  integrations/data.json
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

[Catalog] Update Catalog items
  collections/_catalog/deployment/ashishdesign4-cronjob.md
  collections/_catalog/deployment/istioinstallationforcatalogcop.md
Labels: area/catalog

[Catalog] Update Catalog items
  collections/_catalog/deployment/istioinstallationforcatalogcop.md
Labels: area/catalog
