Repository meshery/meshery.io, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/catalog, area/website

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.js
Labels: none

configuration of help-modal and import instruction on each catelog page
  _includes/help-modal.html
  _includes/partials/individual-component.html
  _sass/catalog.scss
  js/main.js
Labels: none

fixed copy-button-feedback-message-in-getting-started-section
  _includes/footer.html
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.js
Labels: none

[mesheryctl] Deprecate cpx adapter
  install
Labels: area/website

Publish meshery-operator-v0.6.78.tgz meshery-v0.6.78.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.78.tgz
  charts/meshery-v0.6.78.tgz
Labels: none

Publish meshery-operator-v0.6.79.tgz meshery-v0.6.79.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.79.tgz
  charts/meshery-v0.6.79.tgz
Labels: none

Publish meshery-operator-v0.6.80.tgz meshery-v0.6.80.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.80.tgz
  charts/meshery-v0.6.80.tgz
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.js
Labels: none

meta update
  _includes/header.html
  index.md
Labels: area/docs, area/website

Publish meshery-operator-v0.6.81.tgz meshery-v0.6.81.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.81.tgz
  charts/meshery-v0.6.81.tgz
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.js
Labels: none

update catalog api for pattern retrieval
  .github/workflows/add-catalog.yml
Labels: area/ci

allow workflow_dispatch
  .github/workflows/add-catalog.yml
Labels: area/ci

new api path for filters
  .github/workflows/add-catalog.yml
Labels: area/ci

[Catalog] Update Catalog items
  catalog/2df29b2b-7e5e-4d8b-a5b3-3dea569f4d25.yaml
  catalog/5eeaef1f-9c17-4b52-b0bb-3e488ad15a2c.yaml
  catalog/96cc39d9-de6a-4339-96bf-096d09d9d7bd.yaml
  catalog/d4245c12-778f-42e4-9b63-1e5ab38003a5.yaml
  collections/_catalog/deployment/1d3b05ee-7c11-4c01-be93-81c3bb1b6524.md
  collections/_catalog/deployment/2df29b2b-7e5e-4d8b-a5b3-3dea569f4d25.md
  collections/_catalog/deployment/3460a23b-e14d-49ba-9e6f-4d25afe14f98.md
  collections/_catalog/deployment/454dff6a-d988-4a09-8206-963eaa816c8c.md
  collections/_catalog/deployment/5eeaef1f-9c17-4b52-b0bb-3e488ad15a2c.md
  collections/_catalog/deployment/7607aeb0-3248-4c89-8a63-22ccd8d9cf79.md
  collections/_catalog/deployment/9ab267c4-4f14-47e3-9aa4-b818fe485c84.md
  collections/_catalog/deployment/d4245c12-778f-42e4-9b63-1e5ab38003a5.md
  collections/_catalog/deployment/ddf8a9f1-5fd0-4bda-b074-7dc9ceb1dd43.md
  collections/_catalog/traffic-management/ee3ba7b5-551e-4d2c-b988-211f5e4487ca.md
  collections/_catalog/workloads/96cc39d9-de6a-4339-96bf-096d09d9d7bd.md
Labels: area/catalog

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.js
Labels: none

disabled prettier and menuLabel is set to empty string
  js/stellarnav.min.js
Labels: none

disabled prettier and menuLabel is added
  js/stellarnav.min.js
Labels: none

disabled prettier and menuLabel is set to empty string
  js/stellarnav.min.js
Labels: none

Delete stellarnav.min.js
  js/stellarnav.min.js
Labels: none

disabled prettier and menuLabel is set to empty string
  js/stellarnav.min.js
Labels: none

fixed the issue of Text is not visible in dark mode #1112
  collections/_catalog/jwt/jwt-filter.md
  collections/_catalog/wasm/http-auth.md
  collections/_catalog/wasm/metrics-store.md
  collections/_catalog/wasm/singleton-queue.md
  collections/_catalog/wasm/tcp-metrics.md
  collections/_catalog/wasm/tcp-packet-parse.md
Labels: area/catalog

fixed the issue of Text is not visible in dark mode #1112
  images/kubevault-color.svg
  images/kubevault-white.svg
Labels: none

fixed the issue of Text is not visible in dark mode #1112
  collections/_catalog/jwt/jwt-filter.md
Labels: area/catalog

fixed the issue of Text is not visible in dark mode #1112
  collections/_catalog/jwt/jwt-filter.md
  collections/_catalog/wasm/http-auth.md
  collections/_catalog/wasm/metrics-store.md
  collections/_catalog/wasm/singleton-queue.md
  collections/_catalog/wasm/tcp-metrics.md
  collections/_catalog/wasm/tcp-packet-parse.md
Labels: area/catalog

fix: mobile navbar issues
  _includes/navigation.html
  _sass/navigation.scss
  css/stellarnav.css
  js/stellarnav.js
Labels: none

fix: footer spacing
  _sass/footer.scss
Labels: none

fix: alignment of open in new tab logo
  _sass/navigation.scss
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.js
Labels: none

px to rem
  _includes/help-modal.html
Labels: none

light mode bug
  _includes/partials/individual-component.html
Labels: none

Fixed margin and legend layout
  collections/_pages/smi.html
Labels: none

Fixed text alignment and added padding
  collections/_pages/smi.html
Labels: none

.github/labeler.yml:

area/docs:
  - "*.md"
area/ci:
  - ".github/**/*"
area/catalog:
  - "collections/_catalog/**/*"
  - "catalog/**/*"
  - "_data/patterns.json"
area/website:
  - "*"
