Repository meshery/meshery.io, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/catalog, area/website

Update Metabit Logo w/signoff
  assets/images/company-logo/metabit-trading-logo-dark.png
  assets/images/company-logo/metabit-trading-logo.png
Labels: none

Deliting older screenshot
  assets/images/mesheryio_screenshot.png
Labels: none

Adding new screenshot of website
  assets/images/mesheryio_screenshot.png
Labels: none

Publish meshery-operator-v0.6.72.tgz meshery-v0.6.72.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.72.tgz
  charts/meshery-v0.6.72.tgz
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  images/camel-k-white.svg
  images/capsule-proxy-white.svg
  integrations/data.js
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.js
Labels: none

update footer items
  _data/footer.yml
Labels: none

fix community link
  _data/footer.yml
Labels: none

fix community link
  _includes/footer.html
Labels: none

fix community link
  _data/footer.yml
Labels: none

fix community link
  _includes/footer.html
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.js
Labels: none

Hamburger icon and MENU label visibility bug fixed
  _includes/footer.html
  js/stellarnav.min.js
Labels: none

jekyll.environment for both production and development
  _includes/footer.html
Labels: none

Publish meshery-operator-v0.6.73.tgz meshery-v0.6.73.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.73.tgz
  charts/meshery-v0.6.73.tgz
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.js
Labels: none

_includes/footer.html updated
  _includes/footer.html
Labels: none

Publish meshery-operator-v0.6.74.tgz meshery-v0.6.74.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.74.tgz
  charts/meshery-v0.6.74.tgz
Labels: none

Publish meshery-operator-v0.6.75.tgz meshery-v0.6.75.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.75.tgz
  charts/meshery-v0.6.75.tgz
Labels: none

Publish meshery-operator-v0.6.76.tgz meshery-v0.6.76.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.76.tgz
  charts/meshery-v0.6.76.tgz
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.js
Labels: none

Fix: Broken image linkto MeshMate logo
  _includes/partials/filter-members.html
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.js
Labels: none

Fix: Broken images in README
  README.md
Labels: area/docs, area/website

Delete Layer5-celebration.png
  .github/welcome/Layer5-celebration.png
Labels: area/ci

Create aa
  .github/welcome/aa
Labels: area/ci

Add files via upload
  .github/welcome/Meshery-celebration.png
Labels: area/ci

Delete aa
  .github/welcome/aa
Labels: area/ci

Update config.yml
  .github/config.yml
Labels: area/ci

Update config.yml
  .github/config.yml
Labels: area/ci

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.js
Labels: none

Publish meshery-operator-v0.6.77.tgz meshery-v0.6.77.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.77.tgz
  charts/meshery-v0.6.77.tgz
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.js
Labels: none

.github/labeler.yml:

area/docs:
  - "*.md"
area/ci:
  - ".github/**/*"
area/catalog:
  - "collections/_catalog/**/*"
  - "catalog/**/*"
  - "_data/patterns.json"
area/website:
  - "*"
