Repository meshery/meshery.io, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/catalog, area/website

.github/labeler.yml:

area/docs:
  - "*.md"
area/ci:
  - ".github/**/*"
area/catalog:
  - "collections/_catalog/**/*"
  - "catalog/**/*"
  - "_data/patterns.json"
area/website:
  - "*"

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

updated dark mode styling for programs page and updated navbar styling
  _sass/layout.scss
  _sass/programs.scss
  collections/_programs/gsoc_2019.html
  collections/_programs/gsoc_2020.html
  collections/_programs/gsod_2020.html
  collections/_programs/lfx.html
  collections/_programs/mlh.html
  css/program.css
Labels: none

updated code snippets to be responsive
  _includes/getting-started.html
  _sass/layout.scss
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Update adapters.scss
  _sass/adapters.scss
Labels: none

updating k8s.gcr.io to registry.k8s.io
  catalog/IstioSPIRE.yaml
Labels: area/catalog

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

adding margin
  collections/_pages/smi.html
Labels: none

Update calender.html
  calendar.html
Labels: area/website

Update calender.html
  calendar.html
Labels: area/website

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

Update adapters.scss
  _sass/adapters.scss
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Update calender.html Signed-off-by: Ojas Singh <ojas856@gmail.com>
  calendar.html
Labels: area/website

updated dark mode styling for programs page and updated navbar styling
  _sass/layout.scss
  _sass/programs.scss
  collections/_programs/gsoc_2019.html
  collections/_programs/gsoc_2020.html
  collections/_programs/gsod_2020.html
  collections/_programs/lfx.html
  collections/_programs/mlh.html
  css/program.css
Labels: none

updated mentors list to implement ul, li tags
  collections/_programs/gsoc_2019.html
  collections/_programs/gsoc_2020.html
  collections/_programs/gsod_2020.html
  collections/_programs/lfx.html
  collections/_programs/mlh.html
Labels: none

diffs
  collections/_programs/gsoc_2020.html
Labels: none

Updated calendar.html
  calendar.html
Labels: area/website

updated dark mode styling for programs page and updated navbar styling
  _sass/layout.scss
  _sass/programs.scss
  collections/_programs/gsoc_2019.html
  collections/_programs/gsoc_2020.html
  collections/_programs/gsod_2020.html
  collections/_programs/lfx.html
  collections/_programs/mlh.html
  css/program.css
Labels: none

updated mentors list to implement ul, li tags
  collections/_programs/gsoc_2019.html
  collections/_programs/gsoc_2020.html
  collections/_programs/gsod_2020.html
  collections/_programs/lfx.html
  collections/_programs/mlh.html
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Publish meshery-operator-v0.6.52.tgz meshery-v0.6.52.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.52.tgz
  charts/meshery-v0.6.52.tgz
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

updated font size for smaller screens and made snippets scrollable
  _sass/layout.scss
Labels: none

merged upstream changes
  _sass/layout.scss
Labels: none

Resolved issues with SMI page
  _includes/partials/adapters-table.html
  collections/_pages/smi.html
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

Publish meshery-operator-v0.6.53.tgz meshery-v0.6.53.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.53.tgz
  charts/meshery-v0.6.53.tgz
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Updated image locations
  collections/_pages/features.html
  collections/_pages/smi.html
Labels: none

Revert "Updates on the Catalogs"
  _includes/card.html
  _includes/partials/mini-card.html
  _sass/catalog.scss
  catalog/index.html
  collections/_catalog/deployment/1d3b05ee-7c11-4c01-be93-81c3bb1b6524.md
  collections/_catalog/deployment/3460a23b-e14d-49ba-9e6f-4d25afe14f98.md
  collections/_catalog/deployment/454dff6a-d988-4a09-8206-963eaa816c8c.md
  collections/_catalog/deployment/7607aeb0-3248-4c89-8a63-22ccd8d9cf79.md
  collections/_catalog/deployment/9ab267c4-4f14-47e3-9aa4-b818fe485c84.md
  collections/_catalog/deployment/ddf8a9f1-5fd0-4bda-b074-7dc9ceb1dd43.md
  collections/_catalog/deployment/istio-bookinfo-application.md
  collections/_catalog/traffic-management/ee3ba7b5-551e-4d2c-b988-211f5e4487ca.md
Labels: area/catalog
