Repository meshery/meshery.io, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/catalog, area/website

Catalog Ids changed and workflow changed
  .github/workflows/add-catalog.yml
  _includes/card.html
  _includes/partials/mini-card.html
  catalog/index.html
  collections/_catalog/deployment/1d3b05ee-7c11-4c01-be93-81c3bb1b6524.md
  collections/_catalog/deployment/3460a23b-e14d-49ba-9e6f-4d25afe14f98.md
  collections/_catalog/deployment/454dff6a-d988-4a09-8206-963eaa816c8c.md
  collections/_catalog/deployment/7607aeb0-3248-4c89-8a63-22ccd8d9cf79.md
  collections/_catalog/deployment/9ab267c4-4f14-47e3-9aa4-b818fe485c84.md
  collections/_catalog/deployment/ddf8a9f1-5fd0-4bda-b074-7dc9ceb1dd43.md
  collections/_catalog/deployment/emojivoto-application.md
  collections/_catalog/deployment/istio-bookinfo-application.md
  collections/_catalog/deployment/istio-installation.md
  collections/_catalog/deployment/kubernetes-cronjob.md
  collections/_catalog/deployment/nginx-deployment.md
  collections/_catalog/deployment/postgres-deployment.md
  collections/_catalog/traffic-management/ee3ba7b5-551e-4d2c-b988-211f5e4487ca.md
  collections/_catalog/traffic-management/minimal-nginx-ingress.md
  collections/_catalog/traffic-management/service-mesh-adapter.md
  collections/_catalog/troubleshooting/debugging-the-data-plane.md
Labels: area/ci, area/catalog

Publish meshery-operator-v0.6.54.tgz meshery-v0.6.54.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.54.tgz
  charts/meshery-v0.6.54.tgz
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  images/istio -color.svg
  images/istio -white.svg
  integrations/data.json
Labels: none

Updated image locations
  integrations/data.json
Labels: none

Publish meshery-operator-v0.6.55.tgz meshery-v0.6.55.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.55.tgz
  charts/meshery-v0.6.55.tgz
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

Publish meshery-operator-v0.6.56.tgz meshery-v0.6.56.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.56.tgz
  charts/meshery-v0.6.56.tgz
Labels: none

Fixed issues
  README.md
  _includes/homePage.html
Labels: area/docs, area/website

Fixed errors
  _data/integrations-data.json
  _includes/footer.html
  _includes/partials/contributor.html
  _includes/programs.html
  _sass/callout-cards.scss
  integrations/data.js
  integrations/data.json
Labels: none

Publish meshery-operator-v0.6.57.tgz meshery-v0.6.57.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.57.tgz
  charts/meshery-v0.6.57.tgz
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Publish meshery-operator-v0.6.58.tgz meshery-v0.6.58.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.58.tgz
  charts/meshery-v0.6.58.tgz
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Fixed the visibility of text in catalog section
  _includes/type.html
  _sass/layout.scss
Labels: none

text visibility issue in dark mode resolved
  _includes/type.html
  _sass/catalog.scss
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Used a single class and resolved more dark mode text issues
  _includes/type.html
  _sass/catalog.scss
  _sass/layout.scss
Labels: none

consul logo corrected
  _includes/patterns-filter.html
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Publish meshery-operator-v0.6.59.tgz meshery-v0.6.59.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.59.tgz
  charts/meshery-v0.6.59.tgz
Labels: none

Renamed to appropriate class-name
  _includes/type.html
  _sass/layout.scss
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Publish meshery-operator-v0.6.61.tgz meshery-v0.6.61.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.61.tgz
  charts/meshery-v0.6.61.tgz
Labels: none

catalog card redirects fixed
  _includes/card.html
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Fix Program Page Card darkmode issue
  Gemfile
  Gemfile.lock
  _sass/landing-page.scss
  collections/_programs/gsoc_2019.html
  collections/_programs/gsoc_2020.html
  collections/_programs/gsod_2020.html
  collections/_programs/meshery_cncf.html
  css/program.css
Labels: area/website

Fixed programs/cncf page image over flow issue
  collections/_programs/meshery_cncf.html
  css/program.css
Labels: none

Change ruby Version from 3.0.2 back to 2.7.5
  Gemfile
  collections/_programs/gsod_2020.html
  css/program.css
Labels: area/website

fix link in readme
  README.md
Labels: area/docs, area/website

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

.github/labeler.yml:

area/docs:
  - "*.md"
area/ci:
  - ".github/**/*"
area/catalog:
  - "collections/_catalog/**/*"
  - "catalog/**/*"
  - "_data/patterns.json"
area/website:
  - "*"
