Repository meshery/meshery.io, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/catalog, area/website

.github/labeler.yml:

area/docs:
  - "*.md"
area/ci:
  - ".github/**/*"
area/catalog:
  - "collections/_catalog/**/*"
  - "catalog/**/*"
  - "_data/patterns.json"
area/website:
  - "*"

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.js
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.js
Labels: none

Publish meshery-operator-v0.6.68.tgz meshery-v0.6.68.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.68.tgz
  charts/meshery-v0.6.68.tgz
Labels: none

Adding media querie for different screen size
  _sass/calendar.scss
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  images/integration-template-color.svg
  images/integration-template-white.svg
  integrations/data.js
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  images/kiali-operator-color.svg
  images/kiali-operator-white.svg
  integrations/data.js
Labels: none

[Docs] Generated documentation for Integration
  images/apache-shardingsphere-operator-charts-color.svg
  images/apache-shardingsphere-operator-charts-white.svg
  images/aws-target-group-binding-color.svg
  images/aws-vpc-cni-color.svg
  images/aws-vpc-cni-white.svg
  images/camel-k-color.svg
  images/camel-k-white.svg
  images/fluentbit-operator-color.svg
  images/fluentbit-operator-white.svg
  images/fluentbit-skt-color.svg
  images/fluentbit-skt-white.svg
  images/fluentd-operator-color.svg
  images/fluentd-operator-white.svg
  images/keycloak-operator-color.svg
  images/keycloak-operator-white.svg
  images/stackgres-operator-color.svg
  images/stackgres-operator-white.svg
  integrations/data.js
Labels: none

Publish meshery-operator-v0.6.69.tgz meshery-v0.6.69.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.69.tgz
  charts/meshery-v0.6.69.tgz
Labels: none

[Docs] Generated documentation for Integration
  images/admin-console-operator-color.svg
  images/admin-console-operator-white.svg
  images/aperture-agent-color.svg
  images/aperture-agent-white.svg
  images/aperture-controller-white.svg
  integrations/data.js
Labels: none

[Docs] Generated documentation for Integration
  images/KubeVault CRDs-color.svg
  images/KubeVault CRDs-white.svg
  images/KubeVault Catalog-color.svg
  images/KubeVault Catalog-white.svg
  images/KubeVault Metrics-color.svg
  images/KubeVault Metrics-white.svg
  images/KubeVault Operator-color.svg
  images/KubeVault Operator-white.svg
  images/KubeVault-color.svg
  images/KubeVault-white.svg
  images/capsule-proxy-color.svg
  images/capsule-proxy-white.svg
  images/cd-pipeline-operator-color.svg
  images/cd-pipeline-operator-white.svg
  images/etcd-cluster-operator-color.svg
  images/etcd-cluster-operator-white.svg
  images/grafana-agent-operator-color.svg
  images/grafana-agent-operator-white.svg
  images/grafana-operator-color.svg
  images/grafana-operator-white.svg
  images/grafana-ui-server-color.svg
  images/grafana-ui-server-white.svg
  images/harbor-operator-color.svg
  images/harbor-operator-white.svg
  images/mattermost-operator-color.svg
  images/mattermost-operator-white.svg
  integrations/data.js
Labels: none

[Docs] Generated documentation for Integration
  images/ondat-operator-white.svg
  integrations/data.js
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  images/etcd-cluster-operator-color.svg
  images/etcd-cluster-operator-white.svg
  integrations/data.js
Labels: none

[Docs] Generated documentation for Integration
  images/KubeVault CRDs-color.svg
  images/KubeVault CRDs-white.svg
  images/KubeVault Catalog-color.svg
  images/KubeVault Catalog-white.svg
  images/KubeVault Metrics-color.svg
  images/KubeVault Metrics-white.svg
  images/KubeVault Operator-color.svg
  images/KubeVault Operator-white.svg
  images/KubeVault-color.svg
  images/KubeVault-white.svg
  integrations/data.js
Labels: none

[Docs] Generated documentation for Integration
  images/KubeVault CRDs-color.svg
  images/KubeVault CRDs-white.svg
  images/KubeVault Catalog-color.svg
  images/KubeVault Catalog-white.svg
  images/KubeVault Metrics-color.svg
  images/KubeVault Metrics-white.svg
  images/KubeVault Operator-color.svg
  images/KubeVault Operator-white.svg
  images/KubeVault-color.svg
  images/KubeVault-white.svg
  integrations/data.js
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.js
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.js
Labels: none

[Docs] Generated documentation for Integration
  images/kubevault-catalog-color.svg
  images/kubevault-catalog-white.svg
  images/kubevault-color.svg
  images/kubevault-crds-color.svg
  images/kubevault-crds-white.svg
  images/kubevault-metrics-color.svg
  images/kubevault-metrics-white.svg
  images/kubevault-operator-color.svg
  images/kubevault-operator-white.svg
  images/kubevault-white.svg
  integrations/data.js
Labels: none

Update feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: area/ci

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.js
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.js
Labels: none

Update features.html
  collections/_pages/features.html
Labels: none

Update smi.html
  collections/_pages/smi.html
Labels: none

changed cncf page ui
  collections/_programs/meshery_cncf.html
  css/program.css
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.js
Labels: none

Publish meshery-operator-v0.6.70.tgz meshery-v0.6.70.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.70.tgz
  charts/meshery-v0.6.70.tgz
Labels: none

Made website image and meshmate logo visible in readme
  README.md
Labels: area/docs, area/website

Add Matabit Trading Logo
  _includes/homePage.html
  assets/images/company-logo/metabit-trading-logo-dark.png
  assets/images/company-logo/metabit-trading-logo.png
Labels: none

Add Metabit Logo w/signoff
  _includes/homePage.html
  assets/images/company-logo/metabit-trading-logo-dark.png
  assets/images/company-logo/metabit-trading-logo.png
Labels: none

Publish meshery-operator-v0.6.71.tgz meshery-v0.6.71.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.71.tgz
  charts/meshery-v0.6.71.tgz
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  images/apache-shardingsphere-operator-charts-color.svg
  integrations/data.js
Labels: none
