Repository meshery/meshery.io, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/catalog, area/website

Text on programs pages made visible
  _sass/elements.scss
Labels: none

[Catalog] Update Catalog items
  catalog/32e07ff3-bcd5-48e2-a8df-d6025384a902.yaml
  catalog/ddf8a9f1-5fd0-4bda-b074-7dc9ceb1dd43.yaml
  collections/_catalog/deployment/1d3b05ee-7c11-4c01-be93-81c3bb1b6524.md
  collections/_catalog/deployment/32e07ff3-bcd5-48e2-a8df-d6025384a902.md
  collections/_catalog/deployment/3460a23b-e14d-49ba-9e6f-4d25afe14f98.md
  collections/_catalog/deployment/454dff6a-d988-4a09-8206-963eaa816c8c.md
  collections/_catalog/deployment/7607aeb0-3248-4c89-8a63-22ccd8d9cf79.md
  collections/_catalog/deployment/9ab267c4-4f14-47e3-9aa4-b818fe485c84.md
  collections/_catalog/deployment/ddf8a9f1-5fd0-4bda-b074-7dc9ceb1dd43.md
  collections/_catalog/deployment/dfbdf0f1-3b2a-46c8-8020-cc0962016bc5.md
  collections/_catalog/traffic-management/ee3ba7b5-551e-4d2c-b988-211f5e4487ca.md
Labels: area/catalog

[Catalog] Update Catalog items
  catalog/958c895a-6830-4f34-ac95-5cccd19b1eeb.yaml
  collections/_catalog/deployment/958c895a-6830-4f34-ac95-5cccd19b1eeb.md
Labels: area/catalog

[Catalog] Update Catalog items
  catalog/958c895a-6830-4f34-ac95-5cccd19b1eeb.yaml
  collections/_catalog/deployment/958c895a-6830-4f34-ac95-5cccd19b1eeb.md
Labels: area/catalog

[Catalog] Update Catalog items
  catalog/3df79723-d8af-487d-9268-2e192f171828.yaml
  collections/_catalog/deployment/3df79723-d8af-487d-9268-2e192f171828.md
Labels: area/catalog

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

add box shadow
  _sass/navigation.scss
Labels: none

remove "Menu" text
  _sass/navigation.scss
  css/stellarnav.css
  js/stellarnav.js
Labels: none

more generic
  _includes/getting-started.html
  _includes/homePage.html
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

remove redundant catalog items
  catalog/3df79723-d8af-487d-9268-2e192f171828.yaml
  collections/_catalog/deployment/3df79723-d8af-487d-9268-2e192f171828.md
  collections/_catalog/deployment/istioinstallationforcatalog.md
  collections/_catalog/deployment/istioinstallationforcatalogcop.md
Labels: area/catalog

[Catalog] Update Catalog items
  catalog/dfbdf0f1-3b2a-46c8-8020-cc0962016bc5.yaml
  collections/_catalog/deployment/dfbdf0f1-3b2a-46c8-8020-cc0962016bc5.md
Labels: area/catalog

remove redundant catalog items
  catalog/32e07ff3-bcd5-48e2-a8df-d6025384a902.yaml
  collections/_catalog/deployment/32e07ff3-bcd5-48e2-a8df-d6025384a902.md
  collections/_catalog/traffic-management/istioinstallationforcatalog.md
Labels: area/catalog

Publish meshery-operator-v0.6.50.tgz meshery-v0.6.50.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.50.tgz
  charts/meshery-v0.6.50.tgz
Labels: none

fixed individual page heading, cards open new page
  _includes/card.html
  _layouts/page.html
  _layouts/single-page.html
  catalog/index.html
  collections/_posts/2016-07-20-the-process-for-direct-sales.md
  collections/_posts/2021-04-26-validating-smi-conformance-with-meshery.md
Labels: area/catalog

fixes #932
  Gemfile.lock
  _sass/integrations.scss
  css/screen.scss
Labels: area/website

lighten up background
  _sass/integrations.scss
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Added radial gradient in background of integraton card
  _sass/integrations.scss
  _sass/rootvariables.scss
Labels: none

[Catalog] Update Catalog items
  collections/_catalog/deployment/1d3b05ee-7c11-4c01-be93-81c3bb1b6524.md
  collections/_catalog/deployment/3460a23b-e14d-49ba-9e6f-4d25afe14f98.md
  collections/_catalog/deployment/454dff6a-d988-4a09-8206-963eaa816c8c.md
  collections/_catalog/deployment/7607aeb0-3248-4c89-8a63-22ccd8d9cf79.md
  collections/_catalog/deployment/9ab267c4-4f14-47e3-9aa4-b818fe485c84.md
  collections/_catalog/deployment/ddf8a9f1-5fd0-4bda-b074-7dc9ceb1dd43.md
  collections/_catalog/traffic-management/ee3ba7b5-551e-4d2c-b988-211f5e4487ca.md
Labels: area/catalog

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Publish meshery-operator-v0.6.48.tgz meshery-v0.6.48.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.48.tgz
  charts/meshery-v0.6.48.tgz
Labels: none

Add workflow to delete catalog items on unpublish
  .github/workflows/add-catalog.yml
  .github/workflows/delete-catalog.yml
Labels: area/ci

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

[Docs] Generated documentation for Integration
  images/aws-target-group-binding-color.svg
  images/aws-target-group-binding-white.svg
  integrations/data.json
Labels: none

[Catalog] Update Catalog items
  catalog/958c895a-6830-4f34-ac95-5cccd19b1eeb.yaml
  collections/_catalog/deployment/958c895a-6830-4f34-ac95-5cccd19b1eeb.md
Labels: area/catalog

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

Publish meshery-operator-v0.6.49.tgz meshery-v0.6.49.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.49.tgz
  charts/meshery-v0.6.49.tgz
Labels: none

[Catalog] Update Catalog items
  catalog/958c895a-6830-4f34-ac95-5cccd19b1eeb.yaml
  collections/_catalog/deployment/958c895a-6830-4f34-ac95-5cccd19b1eeb.md
Labels: area/catalog

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

[Catalog] Update Catalog items
  catalog/3df79723-d8af-487d-9268-2e192f171828.yaml
  collections/_catalog/deployment/3df79723-d8af-487d-9268-2e192f171828.md
Labels: area/catalog

more generic
  _includes/getting-started.html
  _includes/homePage.html
Labels: none

[Catalog] Update Catalog items
  catalog/32e07ff3-bcd5-48e2-a8df-d6025384a902.yaml
  catalog/ddf8a9f1-5fd0-4bda-b074-7dc9ceb1dd43.yaml
  collections/_catalog/deployment/1d3b05ee-7c11-4c01-be93-81c3bb1b6524.md
  collections/_catalog/deployment/32e07ff3-bcd5-48e2-a8df-d6025384a902.md
  collections/_catalog/deployment/3460a23b-e14d-49ba-9e6f-4d25afe14f98.md
  collections/_catalog/deployment/454dff6a-d988-4a09-8206-963eaa816c8c.md
  collections/_catalog/deployment/7607aeb0-3248-4c89-8a63-22ccd8d9cf79.md
  collections/_catalog/deployment/9ab267c4-4f14-47e3-9aa4-b818fe485c84.md
  collections/_catalog/deployment/ddf8a9f1-5fd0-4bda-b074-7dc9ceb1dd43.md
  collections/_catalog/deployment/dfbdf0f1-3b2a-46c8-8020-cc0962016bc5.md
  collections/_catalog/traffic-management/ee3ba7b5-551e-4d2c-b988-211f5e4487ca.md
Labels: area/catalog

.github/labeler.yml:

area/docs:
  - "*.md"
area/ci:
  - ".github/**/*"
area/catalog:
  - "collections/_catalog/**/*"
  - "catalog/**/*"
  - "_data/patterns.json"
area/website:
  - "*"
