Repository meshery/meshery.io, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/catalog, area/website

.github/labeler.yml:

area/docs:
  - "*.md"
area/ci:
  - ".github/**/*"
area/catalog:
  - "collections/_catalog/**/*"
  - "catalog/**/*"
  - "_data/patterns.json"
area/website:
  - "*"

fix: improvements
  _sass/navigation.scss
Labels: none

spelling
  CONTRIBUTING.md
Labels: area/docs, area/website

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

fix: update link
  _includes/partials/community.html
Labels: none

Text SUBSCRIBE inside button is aligned properly #959
  css/subscribe.css
Labels: none

fix: update link
  _includes/partials/community.html
Labels: none

Publish meshery-operator-v0.6.44.tgz meshery-v0.6.44.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.44.tgz
  charts/meshery-v0.6.44.tgz
Labels: none

[Docs] Generated documentation for Integration
  images/nginx-ingress-color.svg
  images/nginx-ingress-white.svg
  integrations/data.json
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

text is now aligned properly in middle
  _includes/homePage.html
Labels: none

Add tag to popular posts
  _includes/popular-discuss-posts.html
  collections/_pages/programs.html
  css/program.css
Labels: none

added token
  .github/workflows/updateDiscussons.yml
Labels: area/ci

added repo restriction
  .github/workflows/updateDiscussons.yml
Labels: area/ci

added workflow dispatch
  .github/workflows/updateDiscussons.yml
Labels: area/ci

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

“build-refactored/msaini0r”
  README.md
Labels: area/docs, area/website

readme link updated/msaini0r
  README.md
Labels: area/docs, area/website

readme-link-updated/msaini0r
  README.md
Labels: area/docs, area/website

readme-link-updated
  README.md
Labels: area/docs, area/website

Solving Readme build status
  README.md
Labels: area/docs, area/website

Fixes typo in mobile catalog filter dropdown
  .idea/.gitignore
  .idea/meshery.io.iml
  .idea/modules.xml
  .idea/vcs.xml
  _includes/patterns-filter.html
Labels: none

Delete .idea directory
  .idea/.gitignore
  .idea/meshery.io.iml
  .idea/modules.xml
  .idea/vcs.xml
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Spelling fix #971
  _includes/patterns-filter.html
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

made community newsletter form same
  _includes/subscribe.html
  css/program.css
  integrations/main.css
Labels: none

Publish meshery-operator-v0.6.45.tgz meshery-v0.6.45.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.45.tgz
  charts/meshery-v0.6.45.tgz
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Updated CSS
  _sass/catalog.scss
  _sass/forms.scss
Labels: none

Updated this file to make a grammar change
  collections/_catalog/wasm/singleton-queue.md
Labels: area/catalog

minor alphabet casing changes
  _includes/subscribe.html
Labels: none

removed extra margin and minor changes
  _includes/subscribe.html
  css/program.css
Labels: none
