Repository meshery/meshery.io, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/catalog, area/website

Publish meshery-operator-v0.6.49.tgz meshery-v0.6.49.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.49.tgz
  charts/meshery-v0.6.49.tgz
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

fixed individual page heading, cards open new page
  _includes/card.html
  _layouts/page.html
  _layouts/single-page.html
  catalog/index.html
  collections/_posts/2016-07-20-the-process-for-direct-sales.md
  collections/_posts/2021-04-26-validating-smi-conformance-with-meshery.md
Labels: area/catalog

removed service mesh
  _includes/homePage.html
  collections/_pages/smi.html
Labels: none

remove redundant catalog items
  catalog/32e07ff3-bcd5-48e2-a8df-d6025384a902.yaml
  collections/_catalog/deployment/32e07ff3-bcd5-48e2-a8df-d6025384a902.md
  collections/_catalog/traffic-management/istioinstallationforcatalog.md
Labels: area/catalog

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

added blog link
  collections/_pages/smi.html
Labels: none

[Catalog] Update Catalog items
  catalog/dfbdf0f1-3b2a-46c8-8020-cc0962016bc5.yaml
  collections/_catalog/deployment/dfbdf0f1-3b2a-46c8-8020-cc0962016bc5.md
Labels: area/catalog

remove redundant catalog items
  catalog/3df79723-d8af-487d-9268-2e192f171828.yaml
  collections/_catalog/deployment/3df79723-d8af-487d-9268-2e192f171828.md
  collections/_catalog/deployment/istioinstallationforcatalog.md
  collections/_catalog/deployment/istioinstallationforcatalogcop.md
Labels: area/catalog

[Catalog] Update Catalog items
  collections/_catalog/deployment/1d3b05ee-7c11-4c01-be93-81c3bb1b6524.md
  collections/_catalog/deployment/3460a23b-e14d-49ba-9e6f-4d25afe14f98.md
  collections/_catalog/deployment/454dff6a-d988-4a09-8206-963eaa816c8c.md
  collections/_catalog/deployment/7607aeb0-3248-4c89-8a63-22ccd8d9cf79.md
  collections/_catalog/deployment/9ab267c4-4f14-47e3-9aa4-b818fe485c84.md
  collections/_catalog/deployment/ddf8a9f1-5fd0-4bda-b074-7dc9ceb1dd43.md
  collections/_catalog/traffic-management/ee3ba7b5-551e-4d2c-b988-211f5e4487ca.md
Labels: area/catalog

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

Publish meshery-operator-v0.6.50.tgz meshery-v0.6.50.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.50.tgz
  charts/meshery-v0.6.50.tgz
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Made visible consul icon in catalog filters section in light mode
  _includes/patterns-filter.html
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Publish meshery-operator-v0.6.51.tgz meshery-v0.6.51.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.51.tgz
  charts/meshery-v0.6.51.tgz
Labels: none

Changed color of text inside of chip tag
  _sass/catalog.scss
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  images/istio-color.svg
  images/linux-color.svg
  integrations/data.json
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

changed locations
  _includes/homePage.html
  collections/_pages/features.html
  collections/_pages/smi.html
Labels: none

added another section
  collections/_pages/smi.html
Labels: none

Updates on the Catalogs
  _includes/card.html
  _includes/partials/mini-card.html
  _sass/catalog.scss
  catalog/index.html
  collections/_catalog/deployment/1d3b05ee-7c11-4c01-be93-81c3bb1b6524.md
  collections/_catalog/deployment/3460a23b-e14d-49ba-9e6f-4d25afe14f98.md
  collections/_catalog/deployment/454dff6a-d988-4a09-8206-963eaa816c8c.md
  collections/_catalog/deployment/7607aeb0-3248-4c89-8a63-22ccd8d9cf79.md
  collections/_catalog/deployment/9ab267c4-4f14-47e3-9aa4-b818fe485c84.md
  collections/_catalog/deployment/ddf8a9f1-5fd0-4bda-b074-7dc9ceb1dd43.md
  collections/_catalog/deployment/emojivoto-application.md
  collections/_catalog/deployment/istio-bookinfo-application.md
  collections/_catalog/deployment/istio-installation.md
  collections/_catalog/deployment/kubernetes-cronjob.md
  collections/_catalog/deployment/nginx-deployment.md
  collections/_catalog/deployment/postgres-deployment.md
  collections/_catalog/traffic-management/ee3ba7b5-551e-4d2c-b988-211f5e4487ca.md
  collections/_catalog/traffic-management/minimal-nginx-ingress.md
Labels: area/catalog

Changed the number of integrations
  _includes/partials/homePage-integrations.html
  integrations/index.html
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

workflow change
  .github/workflows/add-catalog.yml
  _includes/partials/mini-card.html
Labels: area/ci

Replaced the black color with the variable
  _sass/catalog.scss
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

fix copy button visibility
  _includes/copy-and-download.html
  _includes/footer.html
  _sass/catalog.scss
Labels: none

.github/labeler.yml:

area/docs:
  - "*.md"
area/ci:
  - ".github/**/*"
area/catalog:
  - "collections/_catalog/**/*"
  - "catalog/**/*"
  - "_data/patterns.json"
area/website:
  - "*"
