Repository meshery/meshery.io, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/catalog, area/website

[Catalog] Update Catalog items
  catalog/c6872fbc-1233-4c02-ac1b-416f3985e870.yaml
  collections/_catalog/deployment/1d3b05ee-7c11-4c01-be93-81c3bb1b6524.md
  collections/_catalog/deployment/2df29b2b-7e5e-4d8b-a5b3-3dea569f4d25.md
  collections/_catalog/deployment/3460a23b-e14d-49ba-9e6f-4d25afe14f98.md
  collections/_catalog/deployment/454dff6a-d988-4a09-8206-963eaa816c8c.md
  collections/_catalog/deployment/5eeaef1f-9c17-4b52-b0bb-3e488ad15a2c.md
  collections/_catalog/deployment/7607aeb0-3248-4c89-8a63-22ccd8d9cf79.md
  collections/_catalog/deployment/9ab267c4-4f14-47e3-9aa4-b818fe485c84.md
  collections/_catalog/deployment/c6872fbc-1233-4c02-ac1b-416f3985e870.md
  collections/_catalog/deployment/d4245c12-778f-42e4-9b63-1e5ab38003a5.md
  collections/_catalog/deployment/ddf8a9f1-5fd0-4bda-b074-7dc9ceb1dd43.md
  collections/_catalog/traffic-management/ee3ba7b5-551e-4d2c-b988-211f5e4487ca.md
  collections/_catalog/workloads/96cc39d9-de6a-4339-96bf-096d09d9d7bd.md
Labels: area/catalog

[Catalog] Update Catalog items
  catalog/4e969eff-18f6-4dfd-bdd4-c32a4db4daf6.yaml
  collections/_catalog/deployment/1d3b05ee-7c11-4c01-be93-81c3bb1b6524.md
  collections/_catalog/deployment/2df29b2b-7e5e-4d8b-a5b3-3dea569f4d25.md
  collections/_catalog/deployment/3460a23b-e14d-49ba-9e6f-4d25afe14f98.md
  collections/_catalog/deployment/454dff6a-d988-4a09-8206-963eaa816c8c.md
  collections/_catalog/deployment/4e969eff-18f6-4dfd-bdd4-c32a4db4daf6.md
  collections/_catalog/deployment/5eeaef1f-9c17-4b52-b0bb-3e488ad15a2c.md
  collections/_catalog/deployment/7607aeb0-3248-4c89-8a63-22ccd8d9cf79.md
  collections/_catalog/deployment/9ab267c4-4f14-47e3-9aa4-b818fe485c84.md
  collections/_catalog/deployment/c6872fbc-1233-4c02-ac1b-416f3985e870.md
  collections/_catalog/deployment/d4245c12-778f-42e4-9b63-1e5ab38003a5.md
  collections/_catalog/deployment/ddf8a9f1-5fd0-4bda-b074-7dc9ceb1dd43.md
  collections/_catalog/traffic-management/ee3ba7b5-551e-4d2c-b988-211f5e4487ca.md
  collections/_catalog/workloads/96cc39d9-de6a-4339-96bf-096d09d9d7bd.md
Labels: area/catalog

[Catalog] Update Catalog items
  catalog/4e969eff-18f6-4dfd-bdd4-c32a4db4daf6.yaml
Labels: area/catalog

[Catalog] Update Catalog items
  catalog/4e969eff-18f6-4dfd-bdd4-c32a4db4daf6.yaml
  catalog/90b98e4c-dcfd-41d6-aade-62b2cd03783b.yaml
  collections/_catalog/deployment/1d3b05ee-7c11-4c01-be93-81c3bb1b6524.md
  collections/_catalog/deployment/2df29b2b-7e5e-4d8b-a5b3-3dea569f4d25.md
  collections/_catalog/deployment/3460a23b-e14d-49ba-9e6f-4d25afe14f98.md
  collections/_catalog/deployment/454dff6a-d988-4a09-8206-963eaa816c8c.md
  collections/_catalog/deployment/4e969eff-18f6-4dfd-bdd4-c32a4db4daf6.md
  collections/_catalog/deployment/5eeaef1f-9c17-4b52-b0bb-3e488ad15a2c.md
  collections/_catalog/deployment/7607aeb0-3248-4c89-8a63-22ccd8d9cf79.md
  collections/_catalog/deployment/90b98e4c-dcfd-41d6-aade-62b2cd03783b.md
  collections/_catalog/deployment/9ab267c4-4f14-47e3-9aa4-b818fe485c84.md
  collections/_catalog/deployment/c6872fbc-1233-4c02-ac1b-416f3985e870.md
  collections/_catalog/deployment/d4245c12-778f-42e4-9b63-1e5ab38003a5.md
  collections/_catalog/deployment/ddf8a9f1-5fd0-4bda-b074-7dc9ceb1dd43.md
  collections/_catalog/traffic-management/ee3ba7b5-551e-4d2c-b988-211f5e4487ca.md
  collections/_catalog/workloads/96cc39d9-de6a-4339-96bf-096d09d9d7bd.md
Labels: area/catalog

[Catalog] Update Catalog items
  catalog/0e76d324-3d2b-4144-a5cb-ff7d7d4aa9df.yaml
  collections/_catalog/deployment/0e76d324-3d2b-4144-a5cb-ff7d7d4aa9df.md
  collections/_catalog/deployment/1d3b05ee-7c11-4c01-be93-81c3bb1b6524.md
  collections/_catalog/deployment/2df29b2b-7e5e-4d8b-a5b3-3dea569f4d25.md
  collections/_catalog/deployment/3460a23b-e14d-49ba-9e6f-4d25afe14f98.md
  collections/_catalog/deployment/454dff6a-d988-4a09-8206-963eaa816c8c.md
  collections/_catalog/deployment/5eeaef1f-9c17-4b52-b0bb-3e488ad15a2c.md
  collections/_catalog/deployment/7607aeb0-3248-4c89-8a63-22ccd8d9cf79.md
  collections/_catalog/deployment/9ab267c4-4f14-47e3-9aa4-b818fe485c84.md
  collections/_catalog/deployment/d4245c12-778f-42e4-9b63-1e5ab38003a5.md
  collections/_catalog/deployment/ddf8a9f1-5fd0-4bda-b074-7dc9ceb1dd43.md
  collections/_catalog/traffic-management/ee3ba7b5-551e-4d2c-b988-211f5e4487ca.md
  collections/_catalog/workloads/96cc39d9-de6a-4339-96bf-096d09d9d7bd.md
Labels: area/catalog

[Catalog] Update Catalog items
  catalog/ad4d6e85-68ca-4e9b-bba8-3ca8184cd0e3.yaml
  collections/_catalog/deployment/ad4d6e85-68ca-4e9b-bba8-3ca8184cd0e3.md
Labels: area/catalog

[Catalog] Update Catalog items
  catalog/96cc39d9-de6a-4339-96bf-096d09d9d7bd.yaml
  collections/_catalog/deployment/1d3b05ee-7c11-4c01-be93-81c3bb1b6524.md
  collections/_catalog/deployment/2df29b2b-7e5e-4d8b-a5b3-3dea569f4d25.md
  collections/_catalog/deployment/3460a23b-e14d-49ba-9e6f-4d25afe14f98.md
  collections/_catalog/deployment/454dff6a-d988-4a09-8206-963eaa816c8c.md
  collections/_catalog/deployment/5eeaef1f-9c17-4b52-b0bb-3e488ad15a2c.md
  collections/_catalog/deployment/7607aeb0-3248-4c89-8a63-22ccd8d9cf79.md
  collections/_catalog/deployment/96cc39d9-de6a-4339-96bf-096d09d9d7bd.md
  collections/_catalog/deployment/9ab267c4-4f14-47e3-9aa4-b818fe485c84.md
  collections/_catalog/deployment/d4245c12-778f-42e4-9b63-1e5ab38003a5.md
  collections/_catalog/deployment/ddf8a9f1-5fd0-4bda-b074-7dc9ceb1dd43.md
  collections/_catalog/traffic-management/ee3ba7b5-551e-4d2c-b988-211f5e4487ca.md
Labels: area/catalog

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.js
Labels: none

[Catalog] Update Catalog items
  catalog/c5817897-b838-4f71-b05a-d9f6d9aa0d40.yaml
  collections/_catalog/deployment/1d3b05ee-7c11-4c01-be93-81c3bb1b6524.md
  collections/_catalog/deployment/2df29b2b-7e5e-4d8b-a5b3-3dea569f4d25.md
  collections/_catalog/deployment/3460a23b-e14d-49ba-9e6f-4d25afe14f98.md
  collections/_catalog/deployment/454dff6a-d988-4a09-8206-963eaa816c8c.md
  collections/_catalog/deployment/5eeaef1f-9c17-4b52-b0bb-3e488ad15a2c.md
  collections/_catalog/deployment/7607aeb0-3248-4c89-8a63-22ccd8d9cf79.md
  collections/_catalog/deployment/96cc39d9-de6a-4339-96bf-096d09d9d7bd.md
  collections/_catalog/deployment/9ab267c4-4f14-47e3-9aa4-b818fe485c84.md
  collections/_catalog/deployment/d4245c12-778f-42e4-9b63-1e5ab38003a5.md
  collections/_catalog/deployment/ddf8a9f1-5fd0-4bda-b074-7dc9ceb1dd43.md
  collections/_catalog/observability/c5817897-b838-4f71-b05a-d9f6d9aa0d40.md
  collections/_catalog/traffic-management/ee3ba7b5-551e-4d2c-b988-211f5e4487ca.md
Labels: area/catalog

[Catalog] Update Catalog items
  catalog/9527442a-7072-4c98-a187-1b9ce1b0001c.yaml
  collections/_catalog/deployment/1d3b05ee-7c11-4c01-be93-81c3bb1b6524.md
  collections/_catalog/deployment/2df29b2b-7e5e-4d8b-a5b3-3dea569f4d25.md
  collections/_catalog/deployment/3460a23b-e14d-49ba-9e6f-4d25afe14f98.md
  collections/_catalog/deployment/454dff6a-d988-4a09-8206-963eaa816c8c.md
  collections/_catalog/deployment/5eeaef1f-9c17-4b52-b0bb-3e488ad15a2c.md
  collections/_catalog/deployment/7607aeb0-3248-4c89-8a63-22ccd8d9cf79.md
  collections/_catalog/deployment/9527442a-7072-4c98-a187-1b9ce1b0001c.md
  collections/_catalog/deployment/96cc39d9-de6a-4339-96bf-096d09d9d7bd.md
  collections/_catalog/deployment/9ab267c4-4f14-47e3-9aa4-b818fe485c84.md
  collections/_catalog/deployment/d4245c12-778f-42e4-9b63-1e5ab38003a5.md
  collections/_catalog/deployment/ddf8a9f1-5fd0-4bda-b074-7dc9ceb1dd43.md
  collections/_catalog/observability/c5817897-b838-4f71-b05a-d9f6d9aa0d40.md
  collections/_catalog/traffic-management/ee3ba7b5-551e-4d2c-b988-211f5e4487ca.md
Labels: area/catalog

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  images/keycloak-operator-color.svg
  images/keycloak-operator-white.svg
  images/ondat-operator-white.svg
  integrations/data.js
Labels: none

userName added on the catalog data
  .github/workflows/add-catalog.yml
Labels: area/ci

small changes
  _includes/help-modal.html
  _includes/partials/individual-component.html
Labels: none

fixed some errors
  .github/workflows/add-catalog.yml
Labels: area/ci

added username for filters too
  .github/workflows/add-catalog.yml
Labels: area/ci

fixed typo
  .github/workflows/add-catalog.yml
Labels: area/ci

added avatar url
  .github/workflows/add-catalog.yml
Labels: area/ci

Name in correct format
  .github/workflows/add-catalog.yml
Labels: area/ci

Publish meshery-operator-v0.6.82.tgz meshery-v0.6.82.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.82.tgz
  charts/meshery-v0.6.82.tgz
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.js
Labels: none

Right aligned the table for smaller devices
  collections/_pages/smi.html
Labels: none

Open modal when clicked on individual designs in catalogs
  _includes/card.html
  _includes/wasm-card.html
  catalog/index.html
Labels: area/catalog

Publish meshery-operator-v0.6.83.tgz meshery-v0.6.83.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.83.tgz
  charts/meshery-v0.6.83.tgz
Labels: none

revert: stellarnav.js changes
  js/stellarnav.js
Labels: none

revert: stellarnav.css changes
  css/stellarnav.css
Labels: none

Publish meshery-operator-v0.6.84.tgz meshery-v0.6.84.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.84.tgz
  charts/meshery-v0.6.84.tgz
Labels: none

fix: increase left-right margin for footer columns and fix styles
  _sass/footer.scss
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.js
Labels: none

og image update
  _includes/footer.html
  _includes/header.html
Labels: none

lowercase
  images/kubevault-color.svg
  images/kubevault-white.svg
Labels: none

Add files via upload
  .github/welcome/Meshery-celebration-Dark.svg
  .github/welcome/Meshery-celebration-Light.svg
Labels: area/ci

Delete Meshery-celebration.png
  .github/welcome/Meshery-celebration.png
Labels: area/ci

Update config.yml
  .github/config.yml
Labels: area/ci

Update config.yml
  .github/config.yml
Labels: area/ci

Update config.yml
  .github/config.yml
Labels: area/ci

Update config.yml
  .github/config.yml
Labels: area/ci

.github/labeler.yml:

area/docs:
  - "*.md"
area/ci:
  - ".github/**/*"
area/catalog:
  - "collections/_catalog/**/*"
  - "catalog/**/*"
  - "_data/patterns.json"
area/website:
  - "*"
