Repository meshery/meshery.io, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/catalog, area/website

[Catalog] Update Catalog items
  catalog/9ab267c4-4f14-47e3-9aa4-b818fe485c84.yaml
  collections/_catalog/deployment/istioinstallationforcatalogcop.md
  collections/_catalog/deployment/kubernetes-cronjob.md
Labels: area/catalog

[Catalog] Update Catalog items
  catalog/7607aeb0-3248-4c89-8a63-22ccd8d9cf79.yaml
  collections/_catalog/deployment/istioinstallationforcatalogcop.md
  collections/_catalog/deployment/kubernetes-cronjob.md
  collections/_catalog/deployment/nginx-deployment.md
Labels: area/catalog

[Catalog] Update Catalog items
  catalog/1d3b05ee-7c11-4c01-be93-81c3bb1b6524.yaml
  collections/_catalog/deployment/emojivoto-application.md
  collections/_catalog/deployment/istioinstallationforcatalogcop.md
  collections/_catalog/deployment/kubernetes-cronjob.md
  collections/_catalog/deployment/nginx-deployment.md
Labels: area/catalog

[Catalog] Update Catalog items
  catalog/dfbdf0f1-3b2a-46c8-8020-cc0962016bc5.yaml
  collections/_catalog/deployment/emojivoto-application.md
  collections/_catalog/deployment/istio-bookinfo-application.md
  collections/_catalog/deployment/istioinstallationforcatalogcop.md
  collections/_catalog/deployment/kubernetes-cronjob.md
  collections/_catalog/deployment/nginx-deployment.md
Labels: area/catalog

Remove ill-named and redundant designs from catalog
  catalog/0abbb3bd-3ce7-4fb5-8ca5-8863d6fe3660.yaml
  catalog/1138482b-9363-4242-8ade-97fc94082d07.yaml
  catalog/a2f18d2b-5ae8-4bda-aeea-24e9ccf265c9.yaml
  catalog/d69852d6-0c22-4407-b20e-eb74e616c8b9.yaml
  catalog/f38dd71b-9636-4103-b298-80af8573ea6f.yaml
  collections/_catalog/deployment/ashishdesign1-nginx.md
  collections/_catalog/deployment/ashishdesign2-bookinfoapp.md
  collections/_catalog/deployment/ashishdesign3-emojivoto.md
  collections/_catalog/deployment/ashishdesign4-cronjob.md
  collections/_catalog/deployment/bookinfoforcatalogistio.md
Labels: area/catalog

Publish meshery-operator-v0.6.46.tgz meshery-v0.6.46.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.46.tgz
  charts/meshery-v0.6.46.tgz
Labels: none

Publish meshery-operator-v0.6.46.tgz meshery-v0.6.46.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.46.tgz
  charts/meshery-v0.6.46.tgz
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

fixed the width of form container w/signoff
  css/program.css
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

[Catalog] Update Catalog items
  catalog/ee3ba7b5-551e-4d2c-b988-211f5e4487ca.yaml
  collections/_catalog/deployment/emojivoto-application.md
  collections/_catalog/deployment/istio-bookinfo-application.md
  collections/_catalog/deployment/istioinstallationforcatalogcop.md
  collections/_catalog/deployment/kubernetes-cronjob.md
  collections/_catalog/deployment/nginx-deployment.md
  collections/_catalog/traffic-management/minimal-nginx-ingress.md
Labels: area/catalog

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Publish meshery-operator-v0.6.47.tgz meshery-v0.6.47.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.47.tgz
  charts/meshery-v0.6.47.tgz
Labels: none

fixed input field width
  css/program.css
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Delete untitled-design.md
  collections/_catalog/deployment/untitled-design.md
Labels: area/catalog

Delete f7889e37-24cb-4d29-b899-d7a3c1da9145.yaml
  catalog/f7889e37-24cb-4d29-b899-d7a3c1da9145.yaml
Labels: area/catalog

[Catalog] Update Catalog items
  catalog/454dff6a-d988-4a09-8206-963eaa816c8c.yaml
  collections/_catalog/deployment/emojivoto-application.md
  collections/_catalog/deployment/istio-bookinfo-application.md
  collections/_catalog/deployment/istio-installation.md
  collections/_catalog/deployment/kubernetes-cronjob.md
  collections/_catalog/deployment/nginx-deployment.md
  collections/_catalog/traffic-management/minimal-nginx-ingress.md
Labels: area/catalog

[Catalog] Update Catalog items
  collections/_catalog/deployment/istio-installation.md
  collections/_catalog/traffic-management/minimal-nginx-ingress.md
Labels: area/catalog

Add workflow to delete catalog items on unpublish
  .github/workflows/add-catalog.yml
  .github/workflows/delete-catalog.yml
Labels: area/ci

[Catalog] Update Catalog items
  catalog/3460a23b-e14d-49ba-9e6f-4d25afe14f98.yaml
  collections/_catalog/deployment/emojivoto-application.md
  collections/_catalog/deployment/istio-bookinfo-application.md
  collections/_catalog/deployment/istio-installation.md
  collections/_catalog/deployment/kubernetes-cronjob.md
  collections/_catalog/deployment/nginx-deployment.md
  collections/_catalog/deployment/postgres-deployment.md
  collections/_catalog/traffic-management/minimal-nginx-ingress.md
Labels: area/catalog

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Publish meshery-operator-v0.6.48.tgz meshery-v0.6.48.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.48.tgz
  charts/meshery-v0.6.48.tgz
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

Publish meshery-operator-v0.6.49.tgz meshery-v0.6.49.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.49.tgz
  charts/meshery-v0.6.49.tgz
Labels: none

[Docs] Generated documentation for Integration
  images/aws-target-group-binding-color.svg
  images/aws-target-group-binding-white.svg
  integrations/data.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Publish meshery-operator-v0.6.49.tgz meshery-v0.6.49.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.49.tgz
  charts/meshery-v0.6.49.tgz
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

updated input field width
  css/subscribe.css
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

.github/labeler.yml:

area/docs:
  - "*.md"
area/ci:
  - ".github/**/*"
area/catalog:
  - "collections/_catalog/**/*"
  - "catalog/**/*"
  - "_data/patterns.json"
area/website:
  - "*"
