Repository meshery/meshery.io, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/ci, area/catalog, area/website

.github/labeler.yml:

area/docs:
  - "*.md"
area/ci:
  - ".github/**/*"
area/catalog:
  - "collections/_catalog/**/*"
  - "catalog/**/*"
  - "_data/patterns.json"
area/website:
  - "*"

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Replace Comminity Guide Link
  Gemfile.lock
  _includes/partials/callouts.html
Labels: area/website

newcomers guide provided
  README.md
Labels: area/docs, area/website

Replace Community Guide Link
  _includes/partials/callouts.html
Labels: none

[mesheryctl] Changes to installer to consider the correct version
  install
Labels: area/website

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Publish meshery-operator-v0.6.62.tgz meshery-v0.6.62.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.62.tgz
  charts/meshery-v0.6.62.tgz
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Adding Transition Effect and Grammatical Improvisation
  _includes/homePage.html
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  images/github-actions-runner-operator-color.svg
  images/github-actions-runner-operator-white.svg
  images/github-actions-runners-color.svg
  images/github-actions-runners-white.svg
  images/gitlab-controller-color.svg
  images/gitlab-controller-white.svg
  images/gitlab-runner-operator-color.svg
  images/gitlab-runner-operator-white.svg
  images/grafana-agent-operator-color.svg
  images/grafana-agent-operator-white.svg
  images/grafana-operator-color.svg
  images/grafana-operator-white.svg
  images/grafana-ui-server-color.svg
  images/grafana-ui-server-white.svg
  integrations/data.json
Labels: none

descriptions; modal format;
  _includes/modal.html
  _includes/patterns-filter.html
  _sass/catalog.scss
  collections/_catalog/jwt/jwt-filter.md
  collections/_catalog/wasm/http-auth.md
  collections/_catalog/wasm/metrics-store.md
  collections/_catalog/wasm/singleton-http-call.md
  collections/_catalog/wasm/singleton-queue.md
  collections/_catalog/wasm/tcp-metrics.md
  collections/_catalog/wasm/tcp-packet-parse.md
  images/consul-white-old.svg
  images/consul.svg
  integrations/data.json
Labels: area/catalog

catalog
  _data/wasm.json
  _includes/coming-soon.html
  _includes/dummy-filter.html
  _includes/partials/feature.html
  _includes/wasm-card.html
  _sass/catalog.scss
  collections/_catalog/jwt/jwt-filter.md
  collections/_catalog/wasm/metrics-store.md
  collections/_catalog/wasm/singleton-http-call.md
  collections/_catalog/wasm/singleton-queue.md
  collections/_catalog/wasm/tcp-metrics.md
  collections/_catalog/wasm/tcp-packet-parse.md
Labels: area/catalog

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  images/cert-manager-color.svg
  images/cert-manager-white.svg
  images/consul-color.svg
  integrations/data.json
Labels: none

Remove unwanted href from callout cards
  _includes/partials/callouts.html
Labels: none

Remove unwanted href from callout cards
  _includes/partials/callouts.html
Labels: none

Remove unwanted href from div in callout cards
  _includes/partials/callouts.html
Labels: none

Update links in Welcome Bot Comments
  .github/config.yml
Labels: area/ci

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Updated meshery.json with new discussion posts
  _data/discuss/meshery.json
Labels: none

[Docs] Generated documentation for Integration
  integrations/data.json
Labels: none

Publish meshery-operator-v0.6.63.tgz meshery-v0.6.63.tgz
  charts/index.yaml
  charts/meshery-operator-v0.6.63.tgz
  charts/meshery-v0.6.63.tgz
Labels: none

Resolved conflicts
  _includes/patterns-filter.html
  collections/_catalog/jwt/jwt-filter.md
Labels: area/catalog

Resolved conflicts
  collections/_catalog/deployment/3460a23b-e14d-49ba-9e6f-4d25afe14f98.md
  collections/_catalog/deployment/454dff6a-d988-4a09-8206-963eaa816c8c.md
  collections/_catalog/traffic-management/ee3ba7b5-551e-4d2c-b988-211f5e4487ca.md
  integrations/data.json
Labels: area/catalog

correct URL for community guide
  _includes/partials/callouts-design-contribute.html
Labels: none

Draft submission - Catalog Submission
  .gitignore
  collections/_pages/submitting.html
Labels: area/website

Added Meshery/Playground landing for subm. prot.
  .ruby-version
  _includes/partials/callouts-design-contribute.html
  _includes/partials/callouts-platform-choice.html
  collections/_pages/design-a-service-mesh.html
  collections/_pages/submitting.html
Labels: area/website

scss update for larger cards/ target=_self
  _includes/partials/callouts-design-contribute.html
  _includes/partials/callouts-platform-choice.html
  _sass/callout-cards.scss
Labels: none

adding pattern submission protocol
  .ruby-version
  _data/navigation.yml
  _includes/help-modal.html
  _includes/partials/callouts-design-contribute.html
  collections/_pages/add-pattern.html
  collections/_pages/submitting.html
Labels: area/website

Verbiage changes to the submission page
  collections/_pages/submitting.html
Labels: none

Added Submission video, plus link
  collections/_pages/submitting.html
Labels: none

Update _includes/partials/callouts-platform-choice.html
  _includes/partials/callouts-platform-choice.html
Labels: none
