Repository meshery/meshery.io, pull requests merged in 2021-07, with the labels that each got.

#468 feature section margin fix
  _sass/features.scss
  collections/_pages/features.html
Labels: component/ui

#471 enlistment of all platforms
  _includes/getting-started.html
  _sass/layout.scss
  images/logos/aks.png
  images/logos/aws_elastic.jpeg
  images/logos/google_kubernetes.png
  images/logos/helm.png
  images/logos/kind.png
  images/logos/minikube.png
Labels: area/lifecycle

#493 [Site] Community forum updated
  _includes/partials/community.html
  _includes/partials/connect.html
Labels: component/ui, language/html
