Repository meshery/meshery.io, pull requests merged in 2021-12, with the labels that each got.

#617 Added a Legend below the table in ```smi.html```
  collections/_pages/smi.html
  images/failing.png
  images/half-check-mark.png
  images/success-check-mark.png
Labels: area/website

#618 Added more talks on the talks and presentation page
  _data/talks.yml
  assets/js/modal.js
  assets/js/talks-presentations.js
  collections/_pages/talks-and-presentations.html
  images/social/presentation.svg
  images/social/youtube.svg
Labels: kind/enhancement

#651 Reusable video modal and pattern video
  _includes/pagenotfound.html
  _includes/partials/patterns.html
  _includes/video-modal.html
  _sass/catalog.scss
  _sass/landing-page.scss
  _sass/layout.scss
  _sass/modal.scss
  _sass/patterns.scss
  assets/js/html-video-modal.js
  assets/js/video-modal.js
  collections/_pages/talks-and-presentations.html
  collections/_pages/video.html
  css/screen.scss
  css/stellarnav.css
  css/stellarnav.min.css
  index.html
Labels: kind/feature, component/patterns
