Repository meshery/meshery.io, pull requests merged in 2021-09, with the labels that each got.

#535 Mailing lists updated.
  _includes/mailing-lists.html
  _includes/subscribe.html
  _sass/contact.scss
  _sass/landing-page.scss
  css/subscribe.css
  index.html
Labels: area/website

#552 Updated and removed the button in the button issue w/signoff
  _sass/forms.scss
  index.html
Labels: area/website

#550 Update README.md
  README.md
Labels: issue/dco

#543 Added nginx-sm entry
  _data/smi.json
  collections/_pages/smi.html
Labels: component/ui, language/javascript

#555 Website performance
  _includes/footer.html
  _includes/getting-started.html
  _includes/partials/adapters-table.html
  _includes/partials/patterns.html
  _includes/subscribe.html
  collections/_programs/communitybridge_2020.html
  collections/_programs/gsoc_2019.html
  collections/_programs/gsoc_2020.html
  collections/_programs/gsod_2020.html
  collections/_programs/meshery_cncf.html
  collections/_programs/mlhfellowship_2020.html
  index.html
  news.html
Labels: area/website

#564 Fixing issue#562 in repo meshery.io w/signoff
  _includes/list-posts.html
Labels: area/website
