Repository meshery/meshery.io, pull requests merged in 2022-10, with the labels that each got.

#787 [Ui] Catalog section responsiveness
  _includes/patterns-filter.html
  _sass/catalog-features.scss
  _sass/catalog.scss
  _sass/navigation.scss
  catalog/index.html
Labels: area/catalog

#816 UPDATE/Lorem Ipsum on Catalog Pages
  collections/_catalog/jwt/jwt-filter.md
  collections/_catalog/traffic-management/service-mesh-adapter.md
  collections/_catalog/troubleshooting/debugging-the-data-plane.md
  collections/_catalog/wasm/http-auth.md
  collections/_catalog/wasm/metrics-store.md
  collections/_catalog/wasm/singleton-http-call.md
  collections/_catalog/wasm/singleton-queue.md
  collections/_catalog/wasm/tcp-metrics.md
  collections/_catalog/wasm/tcp-packet-parse.md
Labels: component/filters, area/catalog

#846 Added Logo
  README.md
  images/logos/meshery-logo-dark-text-side.svg
  images/logos/slack-128.png
  images/logos/slack-dark-128.png
Labels: area/docs, hacktoberfest

#890 [Site] Changed service mesh to cloud native wherever required
  _includes/getting-started.html
  _includes/homePage.html
Labels: area/website

#818 Tweets feed overflowing fixed + made circular and responsive.
  _includes/footer.html
  _sass/footer.scss
Labels: area/website
