Repository meshery/meshery.io, pull requests merged in 2022-08, with the labels that each got.

#796 [Catalog] Horizontally-wrap compatibility list in responsive mode
  _includes/partials/compatibility.html
Labels: area/catalog

#769 [UI] improvement on menu
  _data/navigation.yml
  _data/wasm.json
  _includes/navigation.html
  _sass/navigation.scss
  collections/_catalog/wasm/http-auth.md
  images/nav-icons/Blog.svg
  images/nav-icons/Branding.svg
  images/nav-icons/Calendar.svg
  images/nav-icons/Cloud-Native.svg
  images/nav-icons/Contribute.svg
  images/nav-icons/Discuss.svg
  images/nav-icons/Github.svg
  images/nav-icons/Mail.svg
  images/nav-icons/Presentation.svg
  images/nav-icons/Programs.svg
  images/nav-icons/Service-Mesh.svg
  images/nav-icons/Slack.svg
  images/nav-icons/Youtube.svg
Labels: area/catalog

#800 [Chore] remove some unused css
  _sass/cloudcannon.scss
  assets/css/blog.css
  assets/css/blog.css.map
  assets/css/cloudcannon.css
  assets/css/cloudcannon.css.map
  css/screen.scss
Labels: kind/chore

#801 [mesheryctl] Redirect
  install
Labels: component/mesheryctl

#809 add spire and istio logo on card
  _includes/card.html
  _sass/catalog.scss
  collections/_catalog/deployment/istio-with-spire.md
  images/patterns/istio-with-spire.svg
Labels: service-mesh/istio, area/catalog

#826 [FIX/UI] Landing Page Button Consistency
  _sass/forms.scss
Labels: area/website
