Repository meshery/meshery.io, pull requests merged in 2022-06, with the labels that each got.

#726 Added copy link and download button in the modal
  Gatsby/src/assets/catalogdata/IstioFilterPattern.yaml
  Gatsby/src/assets/catalogdata/bookinfo.yaml
  Gatsby/src/components/Catalog/Card/index.js
Labels: pr/do-not-merge

#742 [Docs] Adding theme specific logos for imroving visibility
  README.md
Labels: area/website

#743 removed unused styles
  _includes/card.html
  _includes/coming-soon.html
  _includes/copy-and-download.html
  _includes/modal.html
  _includes/partials/help-modal.html
  _includes/partials/individual-component.html
  _includes/partials/mini-card.html
  _includes/read-more.html
  _includes/type.html
  _layouts/item.html
  _layouts/single-page.html
  _sass/catalog.scss
  collections/_catalog/basic-istio-install.md
  collections/_pages/catalog.html
  collections/_pages/catalog/categories/deployment.html
  collections/_pages/catalog/categories/observability.html
  collections/_pages/catalog/categories/resiliency.html
  collections/_pages/catalog/categories/scaling.html
  collections/_pages/catalog/categories/security.html
  collections/_pages/catalog/categories/traffic-management.html
  collections/_pages/catalog/categories/troubleshooting.html
  collections/_pages/catalog/categories/workloads.html
  collections/_pages/catalog/compatibility/app-mesh.html
  collections/_pages/catalog/compatibility/consul.html
  collections/_pages/catalog/compatibility/istio.html
  collections/_pages/catalog/compatibility/kuma.html
  collections/_pages/catalog/compatibility/linkerd.html
  collections/_pages/catalog/compatibility/nginx.html
  collections/_pages/catalog/compatibility/nsm.html
  collections/_pages/catalog/compatibility/osm.html
  collections/_pages/catalog/compatibility/traefik-mesh.html
Labels: area/catalog

#750 [Bug] - Updated to Meshery Website Name
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: kind/bug
