Repository meshery/meshery.io, pull requests merged in 2022-12, with the labels that each got.

#930 Add/LinkedIn Logo to Footer
  _data/footer.yml
Labels: area/website

#934 Updated Layer5-MeshMentors Image
  images/logos/Layer5-MeshMentors.png
Labels: area/docs

#935 updated github actions ubuntu version to 22.04
  .github/workflows/label-commenter.yml
  .github/workflows/labeler.yml
  .github/workflows/newcomers-alert.yml
  .github/workflows/release-drafter.yml
  .github/workflows/slack.yml
  .github/workflows/update-catalog.yml
Labels: area/ci
