Repository meshery/meshery.io, pull requests merged in 2022-05, with the labels that each got.

#687 [Setup]Fixed Errors at setting up website in Windows OS
  Gemfile
  Gemfile.lock
Labels: area/ci

#703 Added animations for ebpf and opa
  _includes/partials/feature.html
  _sass/catalog-features.scss
  _sass/catalog.scss
  images/eBPF_logo.png
  images/opa-logo.png
Labels: area/website

#697 Enhanced Newsletter
  Gemfile
  Gemfile.lock
  _data/navigation.yml
  _includes/partials/active-members.html
  _includes/subscribe.html
  _sass/forms.scss
  _sass/landing-page.scss
  _sass/navigation.scss
  css/stellarnav.css
  css/subscribe.css
  index.html
Labels: area/website

#709 Fix - epbf logo image link
  _includes/partials/feature.html
Labels: area/catalog
