Repository meshery/meshery.io, pull requests merged in 2023-12, with the labels that each got.

#1506 Added service mesh png
  assets/images/patterns/service-mesh.png
Labels: area/website

#1510 Fix DOM content to load first and looping
  _includes/card-modal.html
Labels: area/website

#1507 Update README.md
  README.md
Labels: area/docs, area/website

#1493 feat: add search feature to catalog
  catalog/index.html
Labels: area/website, area/catalog

#1514 [Fix CNCF logo] The CNCF Sandbox Logo on the Meshery site
  assets/images/cncf-light-logo.svg
Labels: area/website

#1524 fix: remove permalink to fix pagination bug
  _config.yml
  blog/index.html
Labels: area/website, area/blog

#1525 [Blog] System Overhaul, Paginator Upgrade
  .gitignore
  Gemfile
  Gemfile.lock
  _config.yml
  _includes/post-title.html
  _layouts/page.html
  _layouts/post.html
  _sass/blog.scss
  _sass/layout.scss
  _sass/rootvariables.scss
  blog/index.html
  collections/_posts/2023-12-08-graphql-and-rest-apis.md
  collections/_posts/2023-9-2-layer5-badge-programme.md
Labels: area/website, area/blog

#1526 [Blog] Define and display featured-image in post
  .jekyll-metadata
  _layouts/page.html
  _sass/blog.scss
  assets/images/posts/2023-12-08-graphql-and-rest-apis/meshery-apis.jpeg
  collections/_posts/2016-07-20-the-process-for-direct-sales.md
  collections/_posts/2020-05-21-meshmark-explained.md
  collections/_posts/2020-07-30-analyzing-with-smp.md
  collections/_posts/2020-12-02-kubecon-+cloudnativecon.md
  collections/_posts/2020-12-04-service-mesh-offers-promising-solution-for-cloud-native-networking.md
  collections/_posts/2021-04-26-validating-smi-conformance-with-meshery.md
  collections/_posts/2022-01-26-pipelining-service-mesh-specifications.md
  collections/_posts/2023-01-09-meshery-system-provider.md
  collections/_posts/2023-06-16-changing-meshery-release-channels.md
  collections/_posts/2023-12-08-graphql-and-rest-apis.md
Labels: area/website, area/blog

#1527 fix-failing-build
  Gemfile
  _config.yml
Labels: area/website

#1528 404s image on catalog page
  assets/images/coming-soon.png
  assets/images/ebpf-logo.svg
  assets/images/opa-logo.svg
  assets/images/webassembly_logo.svg
Labels: area/website

#1532 fix: overflow in blog-posts
  _sass/blog.scss
Labels: area/website

#1518 [Fix CI] Add Label Commenter
  .github/label-commenter-config.yml
  .github/workflows/label-commenter.yml
Labels: area/ci

#1539 test: blogpage issue(WIP)
  blog.html
Labels: area/website

#1540 Testing blog page
  _config.yml
  blog.html
Labels: area/website

#1542 Testing pagination
  _includes/pagination.html
  blog/index.html
Labels: area/website, area/blog

#1538 #1520 Added Recognition Page
  _data/footer.yml
  _data/navigation.yml
  _includes/social-icon.html
  assets/images/nav-icons/Recognition.svg
Labels: area/website

#1534 fixed heading alignment in footer
  _sass/footer.scss
Labels: area/website

#1523 [FIX Catalog]: search bar collapsing on not-found
  _includes/view-all.html
  _sass/catalog.scss
  catalog/index.html
Labels: area/website, area/catalog

#1544 fix: blogpage pagination
  .jekyll-metadata
  Gemfile
  Gemfile.lock
  _config.yml
  _layouts/post.html
  blog/index.html
Labels: area/website, area/blog

#1545 add-custom-jekyll-action
  .github/workflows/jekyll.yml
Labels: area/ci

#1547 Revert "add-custom-jekyll-action"
  .github/workflows/jekyll.yml
Labels: area/ci

#1548 Test jekyll
  .github/workflows/jekyll.yml
  Gemfile.lock
Labels: area/ci, area/website

#1549 add-action-to-deploy-to-gh-pages
  .github/workflows/jekyll.yml
  Gemfile.lock
Labels: area/ci, area/website

#1557 [snapshot] Update meshmap.yml
  .github/workflows/meshmap.yml
Labels: area/ci

#1560 Update jekyll.yml
  .github/workflows/jekyll.yml
Labels: area/ci

#1559 blog: draft
  .jekyll-metadata
  Gemfile.lock
  _sass/blog.scss
  assets/images/posts/2023-12-22-v07-release/meshery-catalog-cards.png
  assets/images/posts/2023-12-22-v07-release/meshery-v07-release-announcement.png
  assets/images/posts/2023-12-22-v07-release/meshery-v07-release-announcement.webp
  assets/images/posts/2023-12-22-v07-release/notification-center-overview.png
  collections/_catalog/scaling/792f17b4-08f5-4654-8c10-3628fd56ac03.md
  collections/_catalog/scaling/e79ebaa2-06f1-498b-8307-c434a8911b18.md
  collections/_catalog/workloads/fde9c2da-e402-4f53-b7cd-02036ac65043.md
  collections/_posts/2023-12-22-meshery-v07-release-announcement.md
Labels: area/website, area/catalog, area/blog

#1562 [blog] Update v0.7.0 Release Announcement Blog
  collections/_posts/2023-12-22-meshery-v07-release-announcement.md
Labels: area/website, area/blog

#1563 Decode description and caveats of catalog
  _includes/modal.html
  _includes/partials/individual-component.html
  _sass/catalog.scss
  _sass/single-page.scss
  assets/js/catalog-modal.js
Labels: area/website

#1565 feat:Meshery Helm Charts Repo
  .jekyll-metadata
  _config.yml
  charts/index.yaml
  collections/_pages/charts.html
Labels: area/website, framework/helm
