Repository meshery/meshery.io, pull requests merged in 2023-06, with the labels that each got.

#1176 Fixed catalog workflow to add actual designId
  .github/workflows/add-catalog.yml
Labels: area/ci

#1177 Fixed catalog Id display on the catalog page
  _includes/card.html
  _includes/partials/mini-card.html
  _sass/catalog.scss
  collections/_catalog/deployment/2df29b2b-7e5e-4d8b-a5b3-3dea569f4d25.md
  collections/_catalog/deployment/4e969eff-18f6-4dfd-bdd4-c32a4db4daf6.md
  collections/_catalog/deployment/90b98e4c-dcfd-41d6-aade-62b2cd03783b.md
  collections/_catalog/deployment/ad4d6e85-68ca-4e9b-bba8-3ca8184cd0e3.md
  collections/_catalog/deployment/c6872fbc-1233-4c02-ac1b-416f3985e870.md
  collections/_catalog/observability/c5817897-b838-4f71-b05a-d9f6d9aa0d40.md
  collections/_catalog/scaling/f60a00b8-2038-48cc-9f44-818ffac4987f.md
  collections/_catalog/workloads/96cc39d9-de6a-4339-96bf-096d09d9d7bd.md
  collections/_catalog/workloads/f60a00b8-2038-48cc-9f44-818ffac4987f.md
Labels: area/website, area/catalog

#1153 Fixed The Repeated Call of Layer5 In the used By Section
  _includes/home-page.html
Labels: area/website

#1140 Removed transform property of buttons
  _sass/forms.scss
  _sass/navigation.scss
Labels: area/website

#1151 fixed Refactor text color styling to be applied in the include file #1148
  _includes/card.html
  _includes/wasm-card.html
  _sass/catalog.scss
  _sass/single-page.scss
  assets/images/buttons/external-link_green.svg
  catalog/index.html
  collections/_catalog/jwt/jwt-filter.md
  collections/_catalog/wasm/http-auth.md
  collections/_catalog/wasm/metrics-store.md
  collections/_catalog/wasm/singleton-queue.md
  collections/_catalog/wasm/tcp-metrics.md
  collections/_catalog/wasm/tcp-packet-parse.md
Labels: area/website, area/catalog

#1199 Fix: modal styles updated for dark theme and minor alignment issues
  _sass/catalog.scss
  assets/js/talks-presentations.js
  collections/_pages/talks-and-presentations.html
Labels: area/website

#1187 dark mode logo service-mesh-interface fixed
  assets/images/kuma-icon-dark.svg
  assets/images/kuma-icon-white.svg
  collections/_pages/smi.html
Labels: area/website

#1192 Add Star Button to Meshery
  _includes/home-page.html
  _sass/layout.scss
Labels: area/website

#1179 Remove antiquated Meshery Catalog instructions
  README.md
Labels: area/docs, area/website

#1194 Enhanced The scrollbar
  _includes/home-page.html
  _sass/rootvariables.scss
Labels: area/website

#1209 3D integrations page improvement
  _sass/rootvariables.scss
  integrations/index.html
  integrations/main.css
Labels: area/website, component/integrations

#1159 fix: unexpected extra width - UI components for mobile devices
  _sass/catalog.scss
  _sass/elements.scss
  _sass/layout.scss
Labels: area/website

#1223 [Feature] Extensibility description on homepage
  _includes/features/grpc.html
  _includes/home-page.html
  assets/images/features/meshery-platform-engineering.webp
Labels: area/website
