Repository meshery/meshery.io, pull requests merged in 2023-05, with the labels that each got.

#1124 fixed the issue of Text is not visible in dark mode #1112
  collections/_catalog/jwt/jwt-filter.md
  collections/_catalog/wasm/http-auth.md
  collections/_catalog/wasm/metrics-store.md
  collections/_catalog/wasm/singleton-queue.md
  collections/_catalog/wasm/tcp-metrics.md
  collections/_catalog/wasm/tcp-packet-parse.md
Labels: priority/high, area/website, area/catalog

#1150 Fixed the radio buttons for mobile devices
  _sass/catalog.scss
Labels: area/website

#1156 Added UserID on the workflow
  .github/workflows/add-catalog.yml
Labels: area/ci

#1157 Revert some of the last changed done to the workflow.
  .github/workflows/add-catalog.yml
Labels: area/ci

#1155 Add-design-authors-on-Individual-Design-pages-on-the-catalog
  _includes/type.html
  collections/_catalog/deployment/2df29b2b-7e5e-4d8b-a5b3-3dea569f4d25.md
Labels: area/website, area/catalog

#1147 Fixed overflow of cloud native management video on mobile devices
  _sass/ribbon.scss
Labels: area/website

#1100 Made website image and meshmate logo visible in readme
  README.md
  assets/images/mesheryio_screenshot.png
Labels: area/docs, area/website

#1166 Fix Subscribe Page Buttons
  css/subscribe.css
Labels: area/website

#1136 Fixed the box shadow of performance tests run
  collections/_pages/features.html
Labels: area/website

#1173 context aware policies
  _includes/home-page.html
  images/meshery/meshery-policies.png
  images/meshery/meshery-policies.svg
Labels: area/website

#1164 [Features] Updated performance box responsiveness
  _sass/features.scss
  collections/_pages/features.html
Labels: area/website

#1163 Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: area/docs, area/website

#1172 fixing Overlapping filter menu with other component in mobile view
  _includes/patterns-filter.html
  _sass/catalog.scss
Labels: area/website
