Repository meshery/meshery.io, pull requests merged in 2023-07, with the labels that each got.

#1250 fixes-copy-button
  _includes/help-modal.html
Labels: area/website

#1253 kuma.svg file is missing #1212
  _includes/partials/compatibility.html
  _includes/patterns-filter.html
Labels: area/website

#1219 Pattern section video-title color fix [Light Mode]
  _includes/video-modal.html
  _sass/modal.scss
Labels: area/website

#1259 [CI] Improve Catalog Dispatch Workflow
  .github/workflows/add-catalog.yml
Labels: area/ci

#1263 Update add-catalog.yml
  .github/workflows/add-catalog.yml
Labels: area/ci

#1264 [chore] Create index.html
  catalog/index.html
Labels: kind/chore, area/website, area/catalog

#1265 Update add-catalog.yml
  .github/workflows/add-catalog.yml
Labels: area/ci

#1266 Update add-catalog.yml
  .github/workflows/add-catalog.yml
Labels: area/catalog

#1267 community-page-quick-fix
  community.html
Labels: area/website

#1255 Explicitly specify Desired Ruby Version
  .ruby-version
  Gemfile.lock
Labels: area/website

#1287 update Github Star button
  _includes/home-page.html
Labels: area/website

#1299 [CI] Fix failing to delete missing files
  .github/workflows/delete-catalog.yml
Labels: area/ci

#1270 revamp: filter section in catalog
  _includes/patterns-filter.html
  catalog/index.html
Labels: area/website, area/catalog

#1239 Fixed visible underline on hover.
  _includes/home-page.html
Labels: area/website

#1298 Fixed the opacity issue
  _sass/catalog-features.scss
Labels: area/website

#1306 removed ruby version mandate
  .ruby-version
  Gemfile
  Gemfile.lock
Labels: area/website

#1308 Updated programs timeline
  _data/programs.yml
  collections/_programs/gsoc_2023.html
  collections/_programs/gsod_2020.html
  collections/_programs/lfx.html
Labels: area/website

#1302 Updated the incorrect link inside PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: area/ci

#1290 fix: figma links in the GitHub Issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/site_update.md
Labels: area/ci

#1310 bring-wasm-filters-back
  _includes/modal.html
  _includes/wasm-card.html
  catalog/index.html
Labels: area/website, area/catalog

#1311 [Enhancement] Updated integrations Section
  _includes/partials/homePage-integrations.html
  integrations/index.html
Labels: area/website, component/integrations

#1315 add meshery-logo
  images/logos/meshery-logo.png
Labels: area/website

#1314 changed z-index
  _sass/landing-page.scss
Labels: area/website

#1312 Comment out Twitter Embdedd
  _includes/footer.html
Labels: area/website

#1224 added "Changing Release-Channels" blog
  _sass/blog.scss
  assets/images/posts/2023-06-16-changing-meshery-release-channels/change-meshery-release-channels.png
  assets/images/posts/2023-06-16-changing-meshery-release-channels/meshery-version.png
  collections/_posts/2023-06-16-changing-meshery-release-channels.md
Labels: area/website, area/blog

#1317 wasm-filter-fix-and-remove-redundancy-in-categories
  _includes/card.html
  _includes/modal.html
  _includes/patterns-filter.html
  _includes/wasm-card.html
  _includes/wasm.html
  catalog/index.html
  catalog/technology/webassembly.html
Labels: area/website, area/catalog

#1241 feat: Disable modal on catalog page
  _includes/card.html
  _includes/wasm-card.html
  _layouts/catalog.html
Labels: area/website

#1328 updated blogs'path
  _data/footer.yml
  blog/index.html
  collections/_posts/2016-07-20-the-process-for-direct-sales.md
  collections/_posts/2021-04-26-validating-smi-conformance-with-meshery.md
Labels: area/website, area/blog

#1286 Banner section(section-1) for community page
  assets/images/screens/Dark Theme.svg
  assets/images/screens/Light Theme.svg
  community.html
Labels: area/website

#1246 update calendar.html
  calendar.html
Labels: area/website

#1309 feat: updated calendar section
  _includes/newcomers-map.html
  calendar.html
Labels: area/website

#1191 feat: added gitops section in homepage
  _includes/home-page.html
  assets/images/meshmap-icon.svg
  images/gitops-snapshot.png
Labels: area/website

#1297 made the input area responsive
  _sass/landing-page.scss
  css/subscribe.css
Labels: area/website

#1245 changed in layout.scss and programs.scss
  _sass/layout.scss
  _sass/programs.scss
Labels: area/website

#1326 removed service mesh interface
  _data/footer.yml
Labels: area/website

#1273 Resized and aligned images on blog pages for better UI
  collections/_posts/2021-04-26-validating-smi-conformance-with-meshery.md
Labels: area/website, area/blog

#1330 resonsiveness of project mailing list
  _sass/landing-page.scss
Labels: area/website
