Repository meshery/meshery.io, pull requests merged in 2023-11, with the labels that each got.

#1482 Added icon in the footer #1437
  _data/footer.yml
  _includes/social-icon.html
Labels: area/website

#1471 Dark mode hovering over the getting started button #1162
  _includes/navigation.html
Labels: area/website

#1454 Community link redirect
  _data/navigation.yml
Labels: area/website

#1417 coming soon image fixed
  _sass/catalog-features.scss
Labels: issue/remind, area/website

#1366 clickable filters and patterns icons
  _includes/partials/feature.html
  _sass/catalog-features.scss
  catalog/index.html
Labels: issue/remind, area/website, area/catalog

#1394 Alignment fix of theme toggler
  _includes/header.html
  _sass/navigation.scss
  css/stellarnav.css
Labels: area/website

#1489 feat: add sorting to catalog page
  catalog/index.html
Labels: area/website, area/catalog

#1490 enable blog
  _data/navigation.yml
Labels: area/website

#1491 Dispatch MeshMap Snapshot on catalog publish request.
  .github/workflows/add-catalog.yml
  .github/workflows/meshmap.yml
Labels: area/ci

#1492 Update Catalog workflow
  .github/workflows/add-catalog.yml
  .github/workflows/meshmap.yml
Labels: area/ci

#1496 [Catalog] Explicitly set `imageURL` when catalog_data do not have image attribute
  .github/workflows/add-catalog.yml
  .github/workflows/meshmap.yml
Labels: area/ci

#1495 Added Catalog Images(snapshots)
  _includes/card.html
  _includes/coming-soon.html
  _includes/modal.html
  _includes/partials/individual-component.html
  _includes/partials/mini-card.html
  _includes/wasm-card.html
  collections/_catalog/scaling/792f17b4-08f5-4654-8c10-3628fd56ac03.md
  collections/_catalog/workloads/fde9c2da-e402-4f53-b7cd-02036ac65043.md
Labels: area/website, area/catalog

#1498 [chore] Fallback to default image when the catalog is empty.
  .github/workflows/add-catalog.yml
Labels: area/ci

#1503 Removed ! from Readme
  README.md
Labels: area/docs, area/website

#1500 Adding vertical slider for showcasing Meshery Extension
  _includes/features.html
  _sass/features.scss
  images/gitops-yaml-content.png
  js/main.js
Labels: area/website
