Repository meshery/meshery.io, pull requests merged in 2023-02, with the labels that each got.

#1003 Add workflow to delete catalog items on unpublish
  .github/workflows/add-catalog.yml
  .github/workflows/delete-catalog.yml
Labels: area/ci

#1008 [Catalog] fixed individual page heading and cards open new page
  _includes/card.html
  _layouts/page.html
  _layouts/single-page.html
  catalog/index.html
  collections/_posts/2016-07-20-the-process-for-direct-sales.md
  collections/_posts/2021-04-26-validating-smi-conformance-with-meshery.md
Labels: area/catalog

#967 [Integration] some logos are in colour and some are in white in Dark mode
  _data/integrations-data.json
  _includes/partials/homePage-integrations.html
  _sass/integrations.scss
  _sass/rootvariables.scss
Labels: area/lifecycle

#1032 Updated calendar.html
  calendar.html
Labels: area/website
