Repository meshery/meshery.io, pull requests merged in 2023-08, with the labels that each got.

#1345 wasm-filter-fix
  _includes/modal.html
  _includes/wasm-card.html
  catalog/index.html
  catalog/technology/webassembly.html
Labels: area/website, area/catalog

#1344 consolidate-and-fix-community-page-sections
  assets/css/community.css
  assets/images/calendar-dark.svg
  assets/images/calendar-light.svg
  assets/images/discussion-forum.png
  assets/images/logos/community-handbook.webp
  assets/images/logos/linkedin-dark.svg
  assets/images/logos/linkedin-light.svg
  assets/images/logos/meshmate-dark.svg
  assets/images/logos/meshmate-light.svg
  assets/images/logos/twitter-dark.svg
  assets/images/logos/twitter-light.svg
  assets/images/logos/youtube-dark.svg
  assets/images/logos/youtube-light.svg
  assets/images/resources-section/h.txt
  assets/images/resources-section/svg/bookmark.svg
  assets/images/resources-section/svg/calendar.svg
  assets/images/resources-section/svg/clipboard.svg
  assets/images/resources-section/svg/rocket.svg
  assets/images/resources-section/svg/shape.svg
  community.html
Labels: area/website

#1351 feat: update pattern page title
  _includes/partials/individual-component.html
Labels: area/website

#1359 feat : minor changes
  _includes/help-modal.html
  _sass/navigation.scss
Labels: area/website

#1361 feat : added scrollbar
  _includes/home-page.html
  _sass/elements.scss
  _sass/rootvariables.scss
Labels: area/website

#1178 Migrate meshery.io to google tag manager
  _includes/footer.html
  _includes/header.html
Labels: issue/willfix, issue/remind, area/website

#1350 feat: updated pattern info
  _includes/modal.html
  _includes/partials/individual-component.html
Labels: area/website

#1360 updated catalog modal design
  _data/wasm.json
  _includes/modal.html
  _includes/wasm.html
  _sass/catalog.scss
  _sass/layout.scss
Labels: area/website

#1247 [Site] [Dark Mode] Update import catalog modal according to theme #1203
  _includes/coming-soon.html
  _includes/help-modal.html
  _sass/catalog.scss
  _sass/elements.scss
  _sass/programs.scss
Labels: area/website

#1318 feat : Fixing installation instructions
  _includes/getting-started.html
Labels: area/website

#1334 Fixed the sass-embedded bundle error
  Gemfile.lock
Labels: area/website

#1347 Clarification in README.md Regarding 'bundle install' Execution #1338
  Makefile
  README.md
Labels: area/docs, area/website

#1313 updates features section
  _sass/features.scss
  assets/images/MeshmapDesigner.webp
  assets/images/catalog-cards.svg
  collections/_pages/features.html
Labels: area/website

#1374 feat: Increased opacity on homepage text
  _sass/layout.scss
Labels: area/website

#1324 Footer fix
  _data/footer.yml
  _includes/home-page.html
  assets/images/filter-view.png
Labels: area/website

#1378 removed text from hambuger menu
  js/stellarnav.min.js
Labels: area/website

#1364 margin issue fixed for "join community" button
  calendar.html
Labels: area/website

#1379 Fixes twitter logo(new)
  _sass/footer.scss
Labels: area/website

#1382 Fix/dropdown: Overlapping issue fixed for dropdown
  _sass/navigation.scss
Labels: area/website
