Repository meshery/meshery.io, pull requests merged in 2023-04, with the labels that each got.

#1096 Update features.html
  collections/_pages/features.html
Labels: kind/chore

#1097 Update smi.html
  collections/_pages/smi.html
Labels: kind/chore

#1102 Add Metabit Logo w/signoff
  _includes/homePage.html
  assets/images/company-logo/metabit-trading-logo-dark.png
  assets/images/company-logo/metabit-trading-logo.png
Labels: area/website

#1105 Update footer to include new items [Fixes #1103]
  _data/footer.yml
  _includes/footer.html
Labels: area/website

#1109 Fix: Broken image link to MeshMate logo
  README.md
  _includes/partials/filter-members.html
Labels: area/docs, area/website

#1110 Replace the Logo of Layer5 with Meshery in config.yml workflow
  .github/config.yml
  .github/welcome/Layer5-celebration.png
  .github/welcome/Meshery-celebration.png
Labels: area/ci

#1119 update catalog api for pattern retrieval
  .github/workflows/add-catalog.yml
Labels: area/ci, area/catalog

#1139 updated og-image
  _includes/header.html
  index.md
Labels: area/docs, area/website

#1130 Navbar fixes
  _includes/navigation.html
  _sass/navigation.scss
Labels: area/website

#1127 userName added on the catalog data
  .github/workflows/add-catalog.yml
Labels: area/ci

#1117 [meshery] Deprecate cpx adapter
  install
Labels: area/website

#1125 Fixed layout and alignment of components on Service Mesh Interface page
  collections/_pages/smi.html
Labels: area/tests

#1132 Replace the Logo of Layer5 with Meshery in config.yml workflow
  .github/config.yml
  .github/welcome/Meshery-celebration-Dark.svg
  .github/welcome/Meshery-celebration-Light.svg
  .github/welcome/Meshery-celebration.png
Labels: area/ci
