Repository meshery/meshery.io, pull requests merged in 2023-01, with the labels that each got.

#944 Added Integration loader
  Gemfile
  integrations/index.html
Labels: area/website

#949 Integrated discuss forum
  .github/workflows/updateDiscussons.yml
  _data/discuss/meshery.json
  _includes/partials/individual-component.html
  _includes/related-discussion.html
  images/logos/meshery-logo-light.svg
Labels: area/ci

#961 [Catalog] image size and pattern alignment Fixed
  _includes/modal.html
  _includes/partials/individual-component.html
  _sass/catalog.scss
Labels: area/website

#963 [Catalog]Fixed Spelling
  _includes/patterns-filter.html
Labels: area/catalog

#968 Docs added for dark theme
  CONTRIBUTING.md
  _includes/footer.html
  images/Kuma.svg
Labels: area/docs, area/website

#980 added token to update discussion files
  .github/workflows/updateDiscussons.yml
Labels: area/ci

#983 Change the Community Welcome Guide link
  README.md
Labels: area/docs, area/website

#984 Solving Readme build status
  README.md
Labels: area/docs, area/website

#992 Updated this file to make a grammar change
  collections/_catalog/wasm/singleton-queue.md
Labels: area/catalog

#997 Remove ill-named and redundant designs from catalog
  catalog/0abbb3bd-3ce7-4fb5-8ca5-8863d6fe3660.yaml
  catalog/1138482b-9363-4242-8ade-97fc94082d07.yaml
  catalog/a2f18d2b-5ae8-4bda-aeea-24e9ccf265c9.yaml
  catalog/d69852d6-0c22-4407-b20e-eb74e616c8b9.yaml
  catalog/f38dd71b-9636-4103-b298-80af8573ea6f.yaml
  collections/_catalog/deployment/ashishdesign1-nginx.md
  collections/_catalog/deployment/ashishdesign2-bookinfoapp.md
  collections/_catalog/deployment/ashishdesign3-emojivoto.md
  collections/_catalog/deployment/ashishdesign4-cronjob.md
  collections/_catalog/deployment/bookinfoforcatalogistio.md
Labels: area/catalog
