Repository meshery/meshery.io, pull requests merged in 2023-03, with the labels that each got.

#1018 [Catalog] Updates on the Catalogs
  .github/workflows/add-catalog.yml
  _includes/card.html
  _includes/partials/mini-card.html
  catalog/index.html
  collections/_catalog/deployment/1d3b05ee-7c11-4c01-be93-81c3bb1b6524.md
  collections/_catalog/deployment/3460a23b-e14d-49ba-9e6f-4d25afe14f98.md
  collections/_catalog/deployment/454dff6a-d988-4a09-8206-963eaa816c8c.md
  collections/_catalog/deployment/7607aeb0-3248-4c89-8a63-22ccd8d9cf79.md
  collections/_catalog/deployment/9ab267c4-4f14-47e3-9aa4-b818fe485c84.md
  collections/_catalog/deployment/ddf8a9f1-5fd0-4bda-b074-7dc9ceb1dd43.md
  collections/_catalog/deployment/emojivoto-application.md
  collections/_catalog/deployment/istio-bookinfo-application.md
  collections/_catalog/deployment/istio-installation.md
  collections/_catalog/deployment/kubernetes-cronjob.md
  collections/_catalog/deployment/nginx-deployment.md
  collections/_catalog/deployment/postgres-deployment.md
  collections/_catalog/traffic-management/ee3ba7b5-551e-4d2c-b988-211f5e4487ca.md
  collections/_catalog/traffic-management/minimal-nginx-ingress.md
  collections/_catalog/traffic-management/service-mesh-adapter.md
  collections/_catalog/troubleshooting/debugging-the-data-plane.md
Labels: area/ci, area/catalog

#1074 Update links in Welcome Bot Comments
  .github/config.yml
Labels: area/ci

#1029 Migrating k8s.gcr.io to registry.k8s.io
  catalog/IstioSPIRE.yaml
Labels: area/catalog

#1079 [Bugfix] Rectify broken image links
  _includes/dummy-filter.html
  _includes/homePage.html
  _includes/partials/adapters-table.html
  _includes/partials/compatibility.html
  _includes/partials/mini-card.html
  _includes/partials/patterns.html
  _includes/patterns-filter.html
  collections/_pages/features.html
  collections/_pages/smi.html
  collections/_pages/video.html
Labels: area/website

#1083 All integration are visible and dynamic heading for integration added
  _includes/partials/homePage-integrations.html
  integrations/data.js
  integrations/index.html
Labels: area/website
