Repository meshery/meshery.io, pull requests merged in 2023-10, with the labels that each got.

#1448 fixed the error in github autogenerated text catalog
  .github/ISSUE_TEMPLATE/add-new-pattern.md
Labels: area/ci

#1435 Fixed the default website mode to dark
  _includes/footer.html
Labels: area/website

#1452 [CI] Catalog: Add authentication to catalog download
  .github/workflows/add-catalog.yml
Labels: area/ci, area/catalog

#1431 Added alt tags to all images for improved accessibility and SEO
  _includes/home-page.html
  _includes/programs.html
Labels: area/website

#1441 Commented talks & presentation page
  _data/navigation.yml
Labels: area/website

#1434 [UI] NavBar SubOption Style Fix #1433
  _sass/navigation.scss
Labels: area/website

#1403 feat:added recognition programme blog
  assets/images/posts/2023-9-2-layer5-badge-programme/recognition-banner.png
  collections/_posts/2023-9-2-layer5-badge-programme.md
Labels: area/website, area/blog

#1405 Copied Blogs from smp-spec.io to meshery.io/blog
  _sass/elements.scss
  assets/images/posts/2020-05-21-meshmark-explained/container-crane.svg
  assets/images/posts/2020-05-21-meshmark-explained/distributed-performance_green.svg
  assets/images/posts/2020-07-30-analyzing-with-smp/mesh-cubes.svg
  assets/images/posts/2020-12-02-kubecon+cloudnativecon/service-mesh-abstractions.png
  assets/images/posts/2020-12-02-kubecon+cloudnativecon/service-mesh-implementations.png
  assets/images/posts/2020-12-02-kubecon+cloudnativecon/service-mesh-performance.png
  assets/images/posts/2020-12-04-service-mesh-offers-promising-solution-for-cloud-native-networking/service-mesh.png
  assets/images/posts/2022-01-26-pipelining-service-mesh-specifications/service-mesh-performance-profile-test-results.png
  assets/images/posts/2022-01-26-pipelining-service-mesh-specifications/service-mesh-specifications.png
  assets/images/posts/2022-01-26-pipelining-service-mesh-specifications/smi-conformance-result.png
  collections/_posts/2020-05-21-meshmark-explained.md
  collections/_posts/2020-07-30-analyzing-with-smp.md
  collections/_posts/2020-12-02-kubecon-+cloudnativecon.md
  collections/_posts/2020-12-04-service-mesh-offers-promising-solution-for-cloud-native-networking.md
  collections/_posts/2022-01-26-pipelining-service-mesh-specifications.md
Labels: area/website, area/blog

#1186 Changes in filter on catalog page
  _includes/view-all.html
  _layouts/catalog.html
  _sass/catalog.scss
  catalog/index.html
Labels: area/website, area/catalog

#1458 Revert "[CI] Catalog: Add authentication to catalog download"
  .github/workflows/add-catalog.yml
Labels: area/ci

#1459 [CI] Update add-catalog.yml
  .github/workflows/add-catalog.yml
Labels: area/ci

#1460 [CI] Update add-catalog.yml
  .github/workflows/add-catalog.yml
Labels: area/ci

#1465 Made changes to the twitter logo on community page by updating svg files in assets/images/logos
  assets/images/logos/twitter-dark.svg
  assets/images/logos/twitter-light.svg
  community.html
Labels: area/website

#1419 Added Recent Talks to Meshery.io site
  _data/talks.yml
Labels: area/website

#1472 remove talks not specific to Meshery
  _data/talks.yml
Labels: area/website

#1463 docs: fix typo in ./collections/_posts/2022-01-26-pipelining-service-…
  collections/_posts/2022-01-26-pipelining-service-mesh-specifications.md
Labels: area/website, area/blog

#1461 docs: fix typo in ./collections/_posts/2023-9-2-layer5-badge-programm…
  collections/_posts/2023-9-2-layer5-badge-programme.md
Labels: area/website, area/blog

#1348 Fix liquid template copy component 1337
  _includes/copy-to-clipboard.html
  _includes/getting-started.html
  _includes/help-modal.html
Labels: area/website

#1455 Flicker in default dark theme
  _includes/header.html
Labels: hacktoberfest, area/website

#1469 [UI] Refactor the catalog card UI
  _includes/card.html
  _includes/expand.html
  _includes/modal.html
  _includes/read-more.html
  _sass/catalog.scss
  _sass/layout.scss
  _sass/rootvariables.scss
  assets/js/catalog-modal.js
Labels: area/website

#1478 fix catalog responsiveness ui
  _sass/catalog.scss
  _sass/rootvariables.scss
Labels: area/website

#1476 Added another button to naviagte to the intgrations page and reduce the integration showing size to 4 rows
  _includes/partials/homePage-integrations.html
  _sass/integrations.scss
  integrations/data.js
Labels: area/website, component/integrations

#1485 Update README with badges
  README.md
Labels: area/docs, area/website

#1487 Re-added the data.js
  Gemfile.lock
  integrations/data.js
Labels: area/website, component/integrations
