Repository meshery/meshery.io, pull requests merged in 2024-04, with the labels that each got.

#1696 Lazy load scripts in modal
  _includes/modal.html
Labels: area/website

#1669 Feature: Extensions page
  .jekyll-metadata
  _config.yml
  _data/navigation.yml
  _includes/extensions/card-modal.html
  _includes/extensions/card.html
  _includes/extensions/modal.html
  _includes/extensions/related-extensions.html
  _includes/home-page.html
  _includes/partials/individual-component.html
  _layouts/page.html
  _layouts/single-page.html
  _sass/catalog.scss
  assets/images/buttons/internal-link.svg
  assets/images/meshery-catalog.svg
  assets/images/nav-icons/meshery-extensions.svg
  blog/index.html
  collections/_extensions/github-action-meshmap-snapshot.md
  collections/_extensions/github-action-perf.md
  collections/_extensions/layer5-cloud.md
  collections/_extensions/meshery-adapter-app-mesh.md
  collections/_extensions/meshery-adapter-cilium.md
  collections/_extensions/meshery-adapter-consul.md
  collections/_extensions/meshery-adapter-istio.md
  collections/_extensions/meshery-adapter-kuma.md
  collections/_extensions/meshery-adapter-linkerd.md
  collections/_extensions/meshery-adapter-network-sm.md
  collections/_extensions/meshery-adapter-nginx.md
  collections/_extensions/meshery-adapter-nighthawk.md
  collections/_extensions/meshery-adapter-traefik-mesh.md
  collections/_extensions/meshery-catalog.md
  collections/_extensions/meshmap.md
  collections/_pages/extensions.html
  collections/_posts/2024-02-17-simplifying-cloud-infrastructure-and-kubernetes-management.md
  touch-icon.png
Labels: area/website, area/blog

#1698 image fix and featured-image added
  assets/images/posts/2024-03-29-models-designs-legos/five-instructions.png
  assets/images/posts/2024-03-29-models-designs-legos/five-legos-nobg.png
  collections/_posts/2024-03-29-models-designs-legos.md
Labels: area/website, area/blog

#1707 fontsize on index page
  _includes/home-page.html
Labels: area/website

#1700 refactor: inline css
  _includes/features.html
  _includes/partials/relationships.html
  assets/images/features/relationships/edge_mount_relationship_pod_persistent_volume.svg
  assets/images/features/relationships/edge_network_ingress_to_service_relationship.svg
  assets/images/features/relationships/edge_permission_relationship_cluster_role_service_account.svg
  assets/images/features/relationships/hierarchical_inventory_relationship.svg
  assets/images/features/relationships/hierarchical_parent_relationship.svg
  assets/images/features/relationships/sibling_relationship.png
Labels: pr/do-not-merge, area/website

#1710 Top promotional banner overflow issue fixed
  _sass/header.scss
Labels: area/website

#1711 reduce media content size
  _data/testimonials.yml
  _includes/home-page.html
  assets/images/Maximiliano-Churichi.jpg
  assets/images/Maximiliano-Churichi.webp
  assets/images/anusha.png
  assets/images/anusha.webp
  assets/images/deepak-dinesh.jpg
  assets/images/deepak-dinesh.webp
  assets/images/hein.webp
  assets/images/kaur-kallas.jpg
  assets/images/kaur-kallas.webp
  assets/images/ken-owens.png
  assets/images/ken-owens.webp
  assets/images/liz-rice.jpeg
  assets/images/liz-rice.webp
  assets/images/mrittika-ganguli.jpeg
  assets/images/mrittika-ganguli.webp
  assets/images/nic-jackson.jpg
  assets/images/nic-jackson.webp
  assets/images/otto-van-der-schaaf.jpg
  assets/images/otto-van-der-schaaf.webp
  assets/images/screens/meshmap.gif
  assets/images/screens/meshmap.webp
  assets/images/william-morgan.png
  assets/images/william-morgan.webp
  assets/videos/meshmap.webm
Labels: area/website

#1709 [Extensions] Added Descriptions & Consideration for each extensions
  collections/_extensions/github-action-meshmap-snapshot.md
  collections/_extensions/github-action-perf.md
  collections/_extensions/layer5-cloud.md
  collections/_extensions/meshery-adapter-app-mesh.md
  collections/_extensions/meshery-adapter-cilium.md
  collections/_extensions/meshery-adapter-consul.md
  collections/_extensions/meshery-adapter-istio.md
  collections/_extensions/meshery-adapter-kuma.md
  collections/_extensions/meshery-adapter-linkerd.md
  collections/_extensions/meshery-adapter-network-sm.md
  collections/_extensions/meshery-adapter-nginx.md
  collections/_extensions/meshery-adapter-nighthawk.md
  collections/_extensions/meshery-adapter-traefik-mesh.md
  collections/_extensions/meshery-catalog.md
Labels: area/website

#1720 [Catalog] Prevent removal of artifacthub-repo.yml
  .github/workflows/add-catalog.yml
Labels: area/ci

#1722 Overflowing text in catalog details
  _sass/single-page.scss
Labels: area/website

#1718 Fix: Landing Page
  _includes/getting-started.html
Labels: area/website

#1723 Fix: blog page
  _sass/blog.scss
Labels: area/website

#1724 View Docs button made consistent
  _data/features.yml
Labels: area/website

#1726 Remove mention of service mesh from home page
  _data/features.yml
Labels: area/website

#1725 Hide the mascot section navigation button from brand page
  collections/_pages/brand.html
Labels: area/website

#1727 Fix community page broken link
  _data/navigation.yml
Labels: area/website

#1728 Minor fixes in footer
  _data/footer.yml
Labels: area/website

#1671 change z-index for header
  _sass/layout.scss
Labels: area/website

#1706 [Post] Meshery Designs on Artifact Hub
  assets/images/posts/2024-04-09-designs-on-artifacthub/meshery-designs-on-artifact-hub-featured.png
  assets/images/posts/2024-04-09-designs-on-artifacthub/meshery-designs-on-artifact-hub.png
  collections/_posts/2024-04-09-designs-on-artifacthub.md
Labels: area/website, area/blog
