Repository meshery/meshery.io, pull requests merged in 2024-06, with the labels that each got.

#1759 Updated Footer: Resolved Issue #1758
  _includes/social-icon.html
  _sass/footer.scss
Labels: area/website

#1756 Responsive issue with main menu at 1141px #1749
  _sass/navigation.scss
Labels: issue/dco, area/website

#1754 Changes the background color for the choose the platform section
  _sass/layout.scss
Labels: area/website

#1766 fix: update help modal
  _includes/help-modal.html
Labels: area/website

#1773 Add open in playground btn and send download request to cloud
  _includes/copy-and-download.html
  _includes/modal.html
Labels: area/website

#1774 Update copy-and-download.html
  _includes/copy-and-download.html
Labels: area/website

#1772 Add slider for technologies checkbox
  _includes/partials/feature.html
  _includes/patterns-filter.html
Labels: area/website

#1770 [Catalog] Enhancing “add catalog” workflow to auto-generate “artifacthub-pkg”
  .github/workflows/add-catalog.yml
  assets/artifact-hub-pkg/go.mod
  assets/artifact-hub-pkg/go.sum
  assets/artifact-hub-pkg/package.go
Labels: area/ci, area/website

#1781 fix: #1780; design, not deploy
  assets/artifact-hub-pkg/package.go
Labels: area/website

#1784 [Catalog] Add artifacthub-pkg version and displayname
  assets/artifact-hub-pkg/go.mod
  assets/artifact-hub-pkg/go.sum
  assets/artifact-hub-pkg/package.go
Labels: area/website

#1786 fix: empty pattern info(description)
  assets/artifact-hub-pkg/package.go
Labels: area/website
