Repository meshery/meshery.io, pull requests merged in 2024-02, with the labels that each got.

#1632 Update add-catalog.yml
  .github/workflows/add-catalog.yml
Labels: area/ci

#1635 Update meshmap.yml
  .github/workflows/meshmap.yml
Labels: area/ci

#1640 chore: fix-img-src
  integrations/index.html
Labels: area/website, component/integrations

#1629 Errors removed
  _includes/footer.html
Labels: area/website

#1610 [Catalog] Fix catalog info modal text overflow
  .jekyll-metadata
  _includes/modal.html
Labels: area/website

#1646 [bug/ci] Fixes failing Catalog Workflow
  .github/workflows/add-catalog.yml
Labels: area/ci

#1642 [Post] Simplifying Cloud Infrastructure and Kubernetes Management
  _layouts/page.html
  collections/_posts/2024-02-17-simplifying-cloud-infrastructure-and-kubernetes-management.md
Labels: priority/high, area/website, area/blog
