Repository meshery/meshery.io, pull requests merged in 2024-09, with the labels that each got.

#1896 fix: proper aligning of subheadings
  _sass/layout.scss
  community.html
Labels: area/website

#1891 Added meshery-design-embed extension to Meshery Extensions
  collections/_extensions/meshery-design-embed.md
Labels: area/website

#1897 rename
  .github/workflows/meshmap.yml
  _data/features.yml
  _data/testimonials.yml
  _includes/features.html
  assets/images/kanvas-icon.svg
  collections/_extensions/github-action-meshery-snapshot.md
  collections/_extensions/github-action-perf.md
  collections/_extensions/kanvas.md
  collections/_extensions/meshery-design-embed.md
  collections/_extensions/meshery-docker-extension.md
  collections/_pages/features.html
  collections/_posts/2022-10-24-meshery-v0.6-release.md
  collections/_posts/2023-12-22-meshery-v07-release-announcement.md
Labels: area/ci, area/website, area/blog

#1862 Update checkout actions
  .github/workflows/delete-catalog.yml
  .github/workflows/updateDiscussons.yml
Labels: area/ci

#1900 [Chore] Spelling fix for collaboratively
  _includes/features.html
Labels: area/website

#1902 chore: update action to copy catalog items to meshery docs
  .github/workflows/add-catalog.yml
Labels: area/ci

#1904 [Fix] Corrected typo in Workspaces section :Update in features.html
  _includes/features.html
Labels: area/website

#1908 Models
  _config.yml
  collections/_models/.gitkeep
Labels: area/website

#1909 Update add catalog workflow to add catalog designs in meshery
  .github/workflows/add-catalog.yml
Labels: area/ci

#1916 chore: clean up
  catalog/categories/deployment.html
  catalog/categories/observability.html
  catalog/categories/resiliency.html
  catalog/categories/scaling.html
  catalog/categories/security.html
  catalog/categories/traffic-management.html
  catalog/categories/troubleshooting.html
  catalog/categories/workloads.html
  catalog/compatibility/app-mesh.html
  catalog/compatibility/consul.html
  catalog/compatibility/istio.html
  catalog/compatibility/kuma.html
  catalog/compatibility/linkerd.html
  catalog/compatibility/nginx.html
  catalog/compatibility/nsm.html
  catalog/compatibility/osm.html
  catalog/compatibility/traefik-mesh.html
  catalog/technology/jwt.html
  pages/catalog/index.html
  pages/catalog/webassembly.html
Labels: area/website, area/catalog
