Repository meshery/meshery.io, pull requests merged in 2024-11, with the labels that each got.

#1950 [Extensions] Coming Soon Status
  _includes/extensions/card.html
  _sass/catalog.scss
Labels: area/website

#1951 [Extensions] Kubectl Plugin for MeshSync Snapshot
  assets/images/logos/meshsync-white.svg
  assets/images/logos/meshsync.svg
  collections/_extensions/kubectl-meshery-snapshot.md
Labels: area/website

#1954 fix catalog w/signoff
  assets/artifact-hub-pkg/package.go
Labels: area/website

#1941 look in collection instead of data file for wasm filters
  _includes/modal.html
  _includes/partials/compatibility.html
  collections/_catalog/observability/7d962c10-80ce-4370-b484-bd552f96ddd0.md
  collections/_catalog/observability/93f3dcbb-1ee7-4769-9b5d-957b98b527b5.md
  pages/catalog/index.html
Labels: area/website, area/catalog

#1777 [Post] More Designs on ArtifactHub
  assets/images/posts/2024-06-19-more-designs/designs-on-ah.png
  collections/_posts/2024-06-19-more-designs.md
Labels: area/website, area/blog

#1956 Enhance dark mode compatibility of 'Sort By' and 'Search' input fields
  _sass/catalog.scss
Labels: area/website

#1960 theme friendly icons for extensions and domain switch
  .github/workflows/add-catalog.yml
  _includes/extensions/card.html
  _includes/partials/individual-component.html
  assets/artifact-hub-pkg/package.go
  collections/_extensions/github-action-meshery-snapshot.md
  collections/_extensions/github-action-perf.md
  collections/_extensions/helm-kanvas-snapshot.md
  collections/_extensions/kanvas.md
  collections/_extensions/kubectl-kanvas-snapshot.md
  collections/_extensions/kubectl-meshsync-snapshot.md
  collections/_extensions/layer5-cloud.md
  collections/_extensions/meshery-adapter-app-mesh.md
  collections/_extensions/meshery-adapter-cilium.md
  collections/_extensions/meshery-adapter-consul.md
  collections/_extensions/meshery-adapter-istio.md
  collections/_extensions/meshery-adapter-kuma.md
  collections/_extensions/meshery-adapter-linkerd.md
  collections/_extensions/meshery-adapter-network-sm.md
  collections/_extensions/meshery-adapter-nginx.md
  collections/_extensions/meshery-adapter-nighthawk.md
  collections/_extensions/meshery-adapter-traefik-mesh.md
  collections/_extensions/meshery-catalog.md
  collections/_extensions/meshery-design-embed.md
  collections/_extensions/meshery-docker-extension.md
  collections/_pages/extensions.html
  collections/_pages/features.html
  collections/_pages/smi.html
  collections/_posts/2024/2024-02-17-simplifying-cloud-infrastructure-and-kubernetes-management.md
Labels: area/ci, area/website, area/blog

#1955 Added Blog Post for Model Catalog
  assets/images/posts/2024-11-06-share-your-meshery-models/meshery-catalog-blog.webp
  assets/images/posts/2024-11-06-share-your-meshery-models/meshery-models-breakdown.png
  collections/_posts/2024/2024-11-06-contributing-to-meshery-models.md
Labels: area/website, area/blog

#1966 [Docs] Issue template for blog posts #1964
  .github/ISSUE_TEMPLATE/blog.md
Labels: area/ci, issue/dco

#1968 Adding redirection for html files
  collections/_pages/active-member.html
  collections/_pages/brand.html
  collections/_pages/charts.html
  collections/_pages/contributors.html
  collections/_pages/extensions.html
  collections/_pages/features.html
  collections/_pages/inactive-member.html
  collections/_pages/meshmate-member.html
  collections/_pages/models.html
  collections/_pages/programs.html
  collections/_pages/smi.html
  collections/_pages/subscribe.html
  collections/_pages/talks-and-presentations.html
  collections/_pages/thank-you.html
  collections/_pages/video.html
Labels: area/website

#1975 fix crashing of catalog items on page load
  _includes/card.html
  _includes/patterns-filter.html
  collections/_pages/catalog.html
Labels: area/website
