Repository meshery/meshery.io, pull requests merged in 2024-12, with the labels that each got.

#1978 Fix build issue
  collections/_extensions/meshery-adapter-cilium.md
Labels: area/website

#1982 add wasm filter to the technology filters
  _includes/patterns-filter.html
  collections/_pages/catalog.html
Labels: area/website

#1988 change trim params with the populate for catalog query
  assets/artifact-hub-pkg/package.go
Labels: pr/do-not-merge, area/website

#1990 leecalcote/blog/v08 announcement
  .ruby-version
  Gemfile
  Gemfile.lock
  _config.yml
  _config_dev.yml
  _layouts/post.html
  _layouts/single-page-extension.html
  _sass/blog.scss
  _sass/elements.scss
  _sass/layout.scss
  _sass/rootvariables.scss
  assets/images/posts/2024-12-20-v0.8.0-release-announcement/meshery-v080-release-announcement.png
  blog/index.html
  collections/_extensions/github-action-meshery-snapshot.md
  collections/_extensions/github-action-perf.md
  collections/_extensions/helm-kanvas-snapshot.md
  collections/_extensions/kanvas.md
  collections/_extensions/kubectl-kanvas-snapshot.md
  collections/_extensions/kubectl-meshsync-snapshot.md
  collections/_extensions/layer5-cloud.md
  collections/_extensions/meshery-adapter-app-mesh.md
  collections/_extensions/meshery-adapter-cilium.md
  collections/_extensions/meshery-adapter-consul.md
  collections/_extensions/meshery-adapter-istio.md
  collections/_extensions/meshery-adapter-kuma.md
  collections/_extensions/meshery-adapter-linkerd.md
  collections/_extensions/meshery-adapter-network-sm.md
  collections/_extensions/meshery-adapter-nginx.md
  collections/_extensions/meshery-adapter-nighthawk.md
  collections/_extensions/meshery-adapter-traefik-mesh.md
  collections/_extensions/meshery-catalog.md
  collections/_extensions/meshery-design-embed.md
  collections/_extensions/meshery-docker-extension.md
  collections/_pages/extensions.html
  collections/_posts/2019/2019-07-20-the-process-for-direct-sales.md
  collections/_posts/2020/2020-05-21-meshmark-explained.md
  collections/_posts/2020/2020-07-30-analyzing-with-smp.md
  collections/_posts/2020/2020-12-02-kubecon-+cloudnativecon.md
  collections/_posts/2020/2020-12-04-service-mesh-offers-promising-solution-for-cloud-native-networking.md
  collections/_posts/2021/2021-04-26-validating-smi-conformance-with-meshery.md
  collections/_posts/2022/2022-01-26-pipelining-service-mesh-specifications.md
  collections/_posts/2022/2022-10-24-meshery-v0.6-release.md
  collections/_posts/2023/2023-01-09-meshery-system-provider.md
  collections/_posts/2023/2023-06-16-changing-meshery-release-channels.md
  collections/_posts/2023/2023-12-08-graphql-and-rest-apis.md
  collections/_posts/2023/2023-12-15-meshery-the-extensible-platform.md
  collections/_posts/2023/2023-12-19-meshery-relationships.md
  collections/_posts/2023/2023-12-22-meshery-v07-release-announcement.md
  collections/_posts/2023/2023-9-2-layer5-badge-program.md
  collections/_posts/2024/2024-02-17-simplifying-cloud-infrastructure-and-kubernetes-management.md
  collections/_posts/2024/2024-06-19-more-designs.md
  collections/_posts/2024/2024-11-06-contributing-to-meshery-models.md
  collections/_posts/2024/2024-12-18-meshery-v0.8.0-release-announcement.md
  err.txt
Labels: area/website, area/blog

#1989 chore: upgrade-ruby-versions
  .ruby-version
  Gemfile.lock
  collections/_posts/2023/2023-01-09-meshery-system-provider.md
  collections/_posts/2023/2023-06-16-changing-meshery-release-channels.md
  collections/_posts/2023/2023-12-08-graphql-and-rest-apis.md
  collections/_posts/2023/2023-12-15-meshery-the-extensible-platform.md
  collections/_posts/2023/2023-12-19-meshery-relationships.md
  collections/_posts/2023/2023-12-22-meshery-v07-release-announcement.md
  collections/_posts/2023/2023-9-2-layer5-badge-program.md
  collections/_posts/2024/2024-06-19-more-designs.md
Labels: area/website, area/blog

#1991 Update jekyll.yml with ruby-version: '3.2.2'
  .github/workflows/jekyll.yml
Labels: area/ci

#1996 Update catalog workflow to remove unnecessary author
  .github/workflows/add-catalog.yml
Labels: area/ci

#1995 [chore] Update kanvas.yml
  .github/workflows/kanvas.yml
Labels: area/ci

#2002 Update Go version to 1.23 and replace ioutil with os package functions
  .github/workflows/add-catalog.yml
  assets/artifact-hub-pkg/go.mod
  assets/artifact-hub-pkg/package.go
Labels: area/ci, area/website

#2000 migrate sass to use latest syntax and functions namespace
  _sass/adapters.scss
  _sass/calendar.scss
  _sass/catalog.scss
  _sass/contact.scss
  _sass/contributor.scss
  _sass/elements.scss
  _sass/features.scss
  _sass/footer.scss
  _sass/forms.scss
  _sass/helpers.scss
  _sass/landing-page.scss
  _sass/layout.scss
  _sass/mixins/flexbox.scss
  _sass/modal.scss
  _sass/navigation.scss
  _sass/variables.scss
  css/screen.scss
Labels: area/website

#2001 feat: introduce pattern types to meshery.io/catalog
  _config.yml
  _includes/models/card.html
  _includes/models/modal.html
  _includes/patterns-filter.html
  collections/_catalog/models/azure-architecture/azure-architecture.md
  collections/_catalog/models/azure-architecture/azure-architecture.tar
  collections/_pages/catalog.html
  collections/_pages/models.html
Labels: area/website, area/catalog

#1998 Fixed the image on the website
  _includes/partials/compatibility.html
Labels: area/website

#2003 chore: update names
  _includes/patterns-filter.html
  collections/_pages/catalog.html
Labels: area/website

#2004 chore
  collections/_pages/catalog.html
Labels: area/website
