Repository meshery/meshery.io, pull requests merged in 2024-05, with the labels that each got.

#1733 og images for every blog
  _includes/header.html
Labels: area/website

#1734 Hero gif updated
  Gemfile.lock
  _includes/home-page.html
  assets/videos/hero-img.webm
Labels: area/website

#1738 fix user redirection from single catalog page
  _includes/partials/individual-component.html
Labels: area/website

#1737 remove meshery-operator install line
  _includes/getting-started.html
Labels: area/website

#1704 [mesheryctl] fall back to last release when patch release tar ball is not available
  install
Labels: area/lifecycle, area/website

#1732 Centered the text in Programs Page
  _includes/program-lists.html
Labels: area/website

#1743 fixed workfload -> workload
  collections/_catalog/workloads/6a0492fd-73b2-496d-9c5f-278c00d3a5ca.md
Labels: area/website, area/catalog

#1705 Fix: modal issues
  _includes/copy-and-download.html
  _includes/expand.html
  _includes/extensions/modal.html
  _includes/help-modal.html
  _includes/modal.html
  _includes/partials/mini-card.html
  _includes/read-more.html
  _includes/related-patterns.html
  _sass/catalog.scss
Labels: area/website

#1691 [BUG-1673,1690] Resolve horizontal scrolling and add spacing b/w sidebar and catalogs
  _includes/features.html
  _includes/header.html
  _sass/features.scss
  _sass/header.scss
  _sass/landing-page.scss
  _sass/layout.scss
Labels: area/website

#1753 Add items
  collections/_pages/features.html
Labels: area/website

#1761 replace - with space
  _includes/patterns-filter.html
Labels: area/website
