Repository meshery/meshery.io, pull requests merged in 2024-03, with the labels that each got.

#1623 feat: fix issues on blog page
  _sass/blog.scss
  _sass/callout-cards.scss
  collections/_posts/2023-12-22-meshery-v07-release-announcement.md
Labels: area/website, area/blog

#1634 fixes Integrations button
  _includes/partials/homePage-integrations.html
Labels: issue/dco, area/website

#1653 Enhanced the blog
  assets/images/posts/2024-02-17-simplifying-cloud-infrastructure-and-kubernetes-management/meshery-catalog.png
  assets/images/posts/2024-02-17-simplifying-cloud-infrastructure-and-kubernetes-management/meshery-design.png
  collections/_posts/2024-02-17-simplifying-cloud-infrastructure-and-kubernetes-management.md
Labels: area/website, area/blog

#1663 Anusha's testimonial added
  _data/testimonials.yml
  assets/images/anusha.png
Labels: area/website

#1668 Removed containerd and cri-o integrations
  _data/integrations-data.json
  integrations/data.js
  integrations/data.json
Labels: area/website, component/integrations

#1675 Create artifacthub-repo.yml
  charts/artifacthub-repo.yml
Labels: area/website, framework/helm

#1676 Brand page code refactor
  .jekyll-metadata
  _sass/brand.scss
  assets/js/brand-help.js
  collections/_pages/brand.html
Labels: area/website

#1677 Fix hero overflow on mobile dimensions
  .jekyll-metadata
  _sass/brand.scss
  collections/_pages/brand.html
Labels: area/website

#1670 Fix: Catalog: limit overview page #251
  _includes/card.html
  _includes/partials/mini-card.html
  _includes/patterns-filter.html
  _includes/view-all.html
  _sass/catalog.scss
  catalog/index.html
Labels: area/website, area/catalog

#1679 add qanelas soft
  .jekyll-metadata
  _includes/partials/feature.html
  _sass/catalog-features.scss
  _sass/fonts.scss
  assets/fonts/qanelas-soft/QanelasSoftBlack.otf
  assets/fonts/qanelas-soft/QanelasSoftBlackItalic.otf
  assets/fonts/qanelas-soft/QanelasSoftBold.otf
  assets/fonts/qanelas-soft/QanelasSoftBoldItalic.otf
  assets/fonts/qanelas-soft/QanelasSoftExtraBold.otf
  assets/fonts/qanelas-soft/QanelasSoftExtraBoldItalic.otf
  assets/fonts/qanelas-soft/QanelasSoftHeavy.otf
  assets/fonts/qanelas-soft/QanelasSoftHeavyItalic.otf
  assets/fonts/qanelas-soft/QanelasSoftLight.otf
  assets/fonts/qanelas-soft/QanelasSoftLightItalic.otf
  assets/fonts/qanelas-soft/QanelasSoftMedium.otf
  assets/fonts/qanelas-soft/QanelasSoftMediumItalic.otf
  assets/fonts/qanelas-soft/QanelasSoftRegular.otf
  assets/fonts/qanelas-soft/QanelasSoftRegularItalic.otf
  assets/fonts/qanelas-soft/QanelasSoftSemiBold.otf
  assets/fonts/qanelas-soft/QanelasSoftSemiBoldItalic.otf
  assets/fonts/qanelas-soft/QanelasSoftThin.otf
  assets/fonts/qanelas-soft/QanelasSoftThinItalic.otf
  assets/fonts/qanelas-soft/QanelasSoftUltraLight.otf
  assets/fonts/qanelas-soft/QanelasSoftUltraLightItalic.otf
  css/screen.scss
Labels: area/website

#1680 Fix various styling issues
  .jekyll-metadata
  _sass/brand.scss
  _sass/elements.scss
  _sass/layout.scss
  collections/_pages/brand.html
Labels: area/website

#1684 New blog added
  assets/images/posts/2024-03-29-models-designs-legos/five-instructions.png
  assets/images/posts/2024-03-29-models-designs-legos/five-legos.png
  collections/_posts/2024-03-29-models-designs-legos.md
Labels: area/website, area/blog

#1681 Centered navbar items
  _sass/catalog.scss
  _sass/layout.scss
  _sass/navigation.scss
Labels: area/website

#1683 fix brand page hero overflow
  .jekyll-metadata
  _sass/brand.scss
Labels: area/website

#1682 Relationships section on homepage
  _includes/features.html
  _includes/partials/relationships.html
Labels: area/website
