Repository meshery/meshery.io, pull requests merged in 2024-01, with the labels that each got.

#1572 Update 2023-12-22-meshery-v07-release-announcement.md
  collections/_posts/2023-12-22-meshery-v07-release-announcement.md
Labels: area/website, area/blog

#1567 feat: Enhance Helm Charts repo description and getting started
  .jekyll-metadata
  _includes/getting-started.html
  _sass/layout.scss
  collections/_pages/charts.html
Labels: area/website, framework/helm

#1568 Thumbnail-clickable
  _includes/modal.html
  _includes/partials/individual-component.html
  _sass/catalog.scss
  assets/js/thumbnail-clickable.js
Labels: area/website

#1581 Update community.html
  community.html
Labels: area/website

#1582 Fixed background color compatibility in features component
  .jekyll-metadata
  _sass/features.scss
  _sass/rootvariables.scss
Labels: area/website

#1596 [bug] Fix technologies filter icons
  _includes/patterns-filter.html
Labels: kind/bug, area/website

#1597 [bug] Fix Catalog
  _includes/partials/compatibility.html
  _includes/patterns-filter.html
  assets/js/catalog-modal.js
  catalog/index.html
Labels: area/website, area/catalog

#1602 Fixed [UI Bug] - Discussion Forum Image not visible Issue #1601
  .jekyll-metadata
  Gemfile.lock
  assets/images/discussion-forum.png
Labels: area/website

#1604 Bump Screenshot service
  .github/workflows/meshmap.yml
Labels: area/ci

#1609 [Testimonial] Hein testimonial added
  _data/testimonials.yml
  assets/images/hein.webp
Labels: area/website

#1607 Fixed Grammar
  _includes/partials/homePage-integrations.html
Labels: area/website

#1594 Fixed grammer
  _data/features.yml
Labels: area/website

#1579 Add back to top button in README.md file #1486
  README.md
Labels: area/docs, issue/dco, area/website

#1612 [bug] Fixes broken links on v0.7.0 Release Notes
  collections/_posts/2023-12-22-meshery-v07-release-announcement.md
Labels: area/website, area/blog

#1613 replace-id-with-name-in-individual-catalog-page
  _layouts/page.html
Labels: area/website

#1615 Updated the wrong links to new correct links in catalog page
  _includes/help-modal.html
Labels: area/website

#1620 fix: mobile responsiveness
  _includes/features.html
  _sass/blog.scss
  _sass/integrations.scss
  _sass/landing-page.scss
Labels: area/website

#1619 Updated screenshot
  _sass/features.scss
  assets/images/gitops-snapshot.png
Labels: area/website

#1593 [Catalog] Use light/dark snapshot version
  _includes/card.html
  _includes/footer.html
  _includes/header.html
  _includes/modal.html
  _includes/partials/mini-card.html
  catalog/index.html
Labels: area/website, area/catalog
