Repository meshery/meshery.io, pull requests merged in 2024-10, with the labels that each got.

#1919 add class to all h2
  _includes/features.html
Labels: area/website

#1921 upgrade Kanvas snapshot action version
  .github/workflows/meshmap.yml
Labels: area/ci

#1926 Delete charts/meshery-test.tgz
  charts/meshery-test.tgz
Labels: area/website, framework/helm

#1932 Refactor deployment design documentation
  collections/_catalog/deployment/29b94780-865c-460b-b852-cc5c31730561.md
  collections/_catalog/deployment/40ed4661-c68c-4f9d-ba2f-0541ee16ea29.md
Labels: area/website, area/catalog

#1918 [Catalog] Generate Model for Azure Architectural Icons
  collections/_models/azure-architecture.tar
Labels: area/website

#1930 Update robots.txt with explicit "allow"
  robots.txt
Labels: area/website

#1933 Updated youtube channel link
  _data/footer.yml
  _data/navigation.yml
  _includes/partials/community.html
  _includes/partials/connect.html
  community.html
Labels: area/website

#1935 Update README.md with Youtube link
  README.md
Labels: area/docs, area/website

#1937 [Catalog UI] Download Button Generates Incorrect File with .html Extension and Embedded HTML Content
  _includes/copy-and-download.html
Labels: area/website

#1942 Rename meshmap.yml to kanvas.yml
  .github/workflows/kanvas.yml
Labels: area/ci

#1947 [Extensions] Kubectl Plugin for Kanvas Snapshot
  assets/images/kubernetes-namespace.svg
  collections/_extensions/kubectl-kanvas-snapshot.md
Labels: area/website
