Repository meshery/meshery.io, pull requests merged in 2024-07, with the labels that each got.

#1789 Fix Catalog YAML Generation Issue with Compatibility List Indentation
  assets/artifact-hub-pkg/package.go
Labels: area/website

#1788 added hyperlinks to integration cards
  integrations/index.html
Labels: area/website, component/integrations

#1793 [Site] Home: Enhance Workspace description
  _data/features.yml
  _includes/features.html
  _includes/partials/homePage-integrations.html
  integrations/index.html
Labels: area/website, component/integrations

#1785 feat: send email on workflow failure w/signoff
  .github/workflows/add-catalog.yml
Labels: area/ci

#1791 fix: image in modal of catalog
  _includes/modal.html
  _includes/partials/mini-card.html
Labels: area/website

#1797 Fixed tab
  _includes/features.html
Labels: area/website

#1796 Decode pattern info and caveats before adding to ArtifactHub package file
  assets/artifact-hub-pkg/package.go
Labels: area/website

#1802 Updating exploring kubernetes with pods catalog
  catalog/b2b05f54-fd48-44f5-bf2d-308761874d59/artifacthub-pkg.yml
Labels: area/website, area/catalog

#1808 Remove hardcoding of version in catalog
  _includes/partials/individual-component.html
  assets/artifact-hub-pkg/package.go
Labels: area/website

#1769 removed unusual behaviour of nav bar at 1141px
  _sass/navigation.scss
Labels: area/website

#1816 Update integrations docs.
  integrations/data.js
Labels: area/website, component/integrations

#1818 Update homePage-integrations.html
  _includes/partials/homePage-integrations.html
Labels: area/website

#1819 Update index.html
  integrations/index.html
Labels: area/website, component/integrations

#1810 Fixed the Filter issue on the catalog page
  _includes/patterns-filter.html
Labels: area/website

#1817 Fixes the padding issue on the branding page
  _sass/brand.scss
Labels: area/website

#1824 Use pattern icon in catalog single page as fallback icon w/signoff
  _includes/partials/individual-component.html
Labels: area/website

#1828 Improved Catalog Filters
  _includes/patterns-filter.html
Labels: area/website

#1833 [CI] Pull Changes Before `auto-commit` Action
  .github/workflows/add-catalog.yml
  .github/workflows/delete-catalog.yml
  .github/workflows/updateDiscussons.yml
Labels: area/ci

#1835 button content alignment
  collections/_pages/brand.html
Labels: area/website
