Repository meshery/meshery.io, pull requests merged in 2025-06, with the labels that each got.

#2173 Move to new calendar
  calendar.html
Labels: area/website

#2174 add newcomer form page
  collections/_pages/newcomers.html
Labels: area/website

#2175 Update discussion forums section
  .github/security-insights.yml
  _sass/footer.scss
  collections/_pages/newcomers.html
  community.html
Labels: area/ci, area/website

#2179 sync catalog directories to docs
  .github/workflows/add-catalog.yml
Labels: area/ci

#2183 update homepage: move created by section
  _includes/home-page.html
  assets/images/company-logo/layer5-white.svg
Labels: area/website

#2200 update fancybox image href
  _includes/home-page.html
Labels: area/website

#2203 Add catalog detail related graphic on landing page
  _includes/features.html
  _includes/meshery-catalog.html
Labels: area/website

#2212 Homepage: remove redundant patterns sectiontitle
  _includes/meshery-catalog.html
Labels: area/website

#2210 [Feat] Create Handbook and About pages
  _config.yml
  _config_dev.yml
  _data/navigation.yml
  _sass/handbook.scss
  collections/_handbook/about.md
  collections/_handbook/code-of-conduct.md
  collections/_handbook/community-roles.md
  collections/_handbook/community.md
  collections/_handbook/connect-with-us.md
  collections/_handbook/contribution.md
  collections/_handbook/faqs.md
  collections/_handbook/github-process.md
  collections/_handbook/instructions.md
  collections/_handbook/learning.md
  collections/_handbook/mentorship-programs.md
  collections/_handbook/projects.md
  collections/_handbook/recognition.md
  collections/_handbook/repository-overview.md
  collections/_handbook/security-vulnerabilities.md
  collections/_pages/handbook.html
  css/screen.scss
Labels: area/website

#2181 Fix: References
  .github/security-insights.yml
  _data/programs.yml
  _data/talks.yml
  _includes/newcomers-map.html
  _includes/partials/community.html
  collections/_contributors/rafi-ungar.md
  collections/_extensions/github-action-meshery-snapshot.md
  collections/_extensions/kanvas.md
  collections/_extensions/meshery-docker-extension.md
  collections/_pages/badges.md
  collections/_pages/contributors.html
  collections/_pages/smi.html
  collections/_posts/2019/2019-07-20-a-standard-interface-for-service-meshes.md
  collections/_posts/2020/2020-05-21-meshmark-explained.md
  collections/_posts/2020/2020-12-02-kubecon-+cloudnativecon.md
  collections/_posts/2020/2020-12-04-service-mesh-offers-promising-solution-for-cloud-native-networking.md
  collections/_posts/2021/2021-04-26-validating-smi-conformance-with-meshery.md
  collections/_posts/2022/2022-01-26-pipelining-service-mesh-specifications.md
  collections/_posts/2023/2023-9-2-layer5-badge-program.md
  collections/_posts/2024/2024-02-17-simplifying-cloud-infrastructure-and-kubernetes-management.md
  collections/_posts/2024/2024-08-14-infrastructure-design-by-meshery.md
  collections/_posts/2025/03/27/2025-03-27-meshery-at-kubecon-eu-2025-security-slam.md
  collections/_posts/2025/04/05/2025-04-01-improving-mesherys-ui-e2e-tests.md
  collections/_programs/meshery_cncf.html
  collections/_programs/mlh.html
  community.html
Labels: area/ci, area/website, area/blog

#2218 fix(app): update links to handbook
  .github/ISSUE_TEMPLATE/bug_report.md
  community.html
Labels: area/ci, area/website

#2213 [Feat] Add Exoscale Icons to Meshery Catalog
  _layouts/single-page-model.html
  assets/images/custom-integration/exoscale-icons/components/2fa-icon.svg
  assets/images/custom-integration/exoscale-icons/components/admin-icon.svg
  assets/images/custom-integration/exoscale-icons/components/block-icon.svg
  assets/images/custom-integration/exoscale-icons/components/cdn-icon.svg
  assets/images/custom-integration/exoscale-icons/components/check-icon.svg
  assets/images/custom-integration/exoscale-icons/components/cli-icon.svg
  assets/images/custom-integration/exoscale-icons/components/cloud-icon.svg
  assets/images/custom-integration/exoscale-icons/components/cn1-icon.svg
  assets/images/custom-integration/exoscale-icons/components/cn2-icon.svg
  assets/images/custom-integration/exoscale-icons/components/dbaas-icon.svg
  assets/images/custom-integration/exoscale-icons/components/dns-icon.svg
  assets/images/custom-integration/exoscale-icons/components/eip-icon.svg
  assets/images/custom-integration/exoscale-icons/components/exoscale-logo.svg
  assets/images/custom-integration/exoscale-icons/components/gpu-icon.svg
  assets/images/custom-integration/exoscale-icons/components/grafana-icon.svg
  assets/images/custom-integration/exoscale-icons/components/iam-icon.svg
  assets/images/custom-integration/exoscale-icons/components/ip-icon.svg
  assets/images/custom-integration/exoscale-icons/components/kafka-icon.svg
  assets/images/custom-integration/exoscale-icons/components/license-icon.svg
  assets/images/custom-integration/exoscale-icons/components/mkpl1-icon.svg
  assets/images/custom-integration/exoscale-icons/components/mkpl2-icon.svg
  assets/images/custom-integration/exoscale-icons/components/mysql-icon.svg
  assets/images/custom-integration/exoscale-icons/components/network-icon.svg
  assets/images/custom-integration/exoscale-icons/components/nlb-icon.svg
  assets/images/custom-integration/exoscale-icons/components/opensearch-icon.svg
  assets/images/custom-integration/exoscale-icons/components/postgresql-icon.svg
  assets/images/custom-integration/exoscale-icons/components/price-icon.svg
  assets/images/custom-integration/exoscale-icons/components/privcon-icon.svg
  assets/images/custom-integration/exoscale-icons/components/privnet-icon.svg
  assets/images/custom-integration/exoscale-icons/components/quick-icon.svg
  assets/images/custom-integration/exoscale-icons/components/s3c-icon.svg
  assets/images/custom-integration/exoscale-icons/components/scale-icon.svg
  assets/images/custom-integration/exoscale-icons/components/secgrp-icon.svg
  assets/images/custom-integration/exoscale-icons/components/sks-icon.svg
  assets/images/custom-integration/exoscale-icons/components/snapshot-icon.svg
  assets/images/custom-integration/exoscale-icons/components/sos-icon.svg
  assets/images/custom-integration/exoscale-icons/components/stop-icon.svg
  assets/images/custom-integration/exoscale-icons/components/storage-icon.svg
  assets/images/custom-integration/exoscale-icons/components/support-icon.svg
  assets/images/custom-integration/exoscale-icons/components/transfer-icon.svg
  assets/images/custom-integration/exoscale-icons/components/user-icon.svg
  assets/images/custom-integration/exoscale-icons/components/valkey-icon.svg
  assets/images/custom-integration/exoscale-icons/components/vm-icon.svg
  assets/images/custom-integration/exoscale-icons/components/vmpool-icon.svg
  assets/images/custom-integration/exoscale-icons/components/vpc-icon.svg
  assets/images/custom-integration/exoscale-icons/icons/exoscale-logo.svg
  assets/modelsFiles/exoscale-icons.tar
  collections/_custom-models/exoscale-icons.md
Labels: area/website

#2244 Members: mario-arriaga.md from maintainer to adopter
  collections/_contributors/mario-arriaga.md
Labels: area/website

#2240 Fix typos in contributor bios
  collections/_contributors/nikhil-ladha.md
  collections/_contributors/xin-huang.md
Labels: area/website

#2247 fix empty tables for tutorials / talks
  _data/talks.yml
Labels: area/website

#2249 fix theme color issue
  _includes/custom-modal.html
Labels: area/website

#2255 feat: add contributor in community
  assets/images/photos/amit-amrutiya.webp
  assets/images/photos/riya-garg.webp
  assets/images/photos/shlok-mishra.webp
  assets/images/photos/zihan-kuang.webp
  collections/_contributors/amit-amrutiya.md
  collections/_contributors/riya-garg.md
  collections/_contributors/shlok-mishra.md
  collections/_contributors/zihan-kuang.md
Labels: area/website

#2263 Added tar file for exoscale
  assets/modelsFiles/crossplane-provider-exoscale.tar
Labels: area/website

#2229 feat/CreatingaMemberForm#2177
  _sass/newcomers.scss
  collections/_pages/newcomers.html
  css/screen.scss
Labels: area/website
