Repository meshery/meshery.io, pull requests merged in 2025-02, with the labels that each got.

#2035 CI: Makefile - new target: site-no-incremental
  Makefile
Labels: area/website

#2036 westcalcote/makefile/target
  _includes/getting-started.html
Labels: area/website

#2014 fix : update .gitpod.yml config file solving ruby version error and automates dev setup
  .gitpod.yml
  Gemfile
Labels: area/website

#2007 Add make clean command to the MakeFile
  Makefile
Labels: area/website

#1870 Move Inline Styles from card.html to SCSS
  _includes/card.html
  _includes/extensions/card.html
  _sass/catalog.scss
Labels: issue/willfix, issue/remind, area/website

#2038 Remove links
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/site_update.md
  README.md
  _data/footer.yml
  _data/navigation.yml
  _includes/copy-and-download.html
  _includes/mailing-lists.html
  _includes/partials/callouts.html
  _includes/partials/community.html
  _includes/partials/connect.html
  _includes/partials/individual-component.html
  _includes/popular-discuss-posts.html
  _includes/related-discussion.html
  collections/_posts/2023/2023-12-22-meshery-v07-release-announcement.md
  collections/_posts/2024/2024-12-20-meshery-v0.8.0-release-announcement.md
  collections/_programs/gsod_2020.html
  community.html
Labels: area/ci, area/docs, area/website, area/blog

#2045 Discussion forum links
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/site_update.md
  README.md
  _data/footer.yml
  _data/navigation.yml
  _data/programs.yml
  _includes/mailing-lists.html
  _includes/partials/callouts.html
  _includes/partials/community.html
  _includes/partials/connect.html
  _includes/popular-discuss-posts.html
  _includes/related-discussion.html
  collections/_posts/2023/2023-12-22-meshery-v07-release-announcement.md
  collections/_posts/2024/2024-12-20-meshery-v0.8.0-release-announcement.md
  collections/_programs/gsod_2020.html
  community.html
Labels: area/ci, area/docs, area/website, area/blog

#2044 Chore: Update YouTube channel
  README.md
Labels: area/docs, area/website

#2046 add ids
  community.html
Labels: area/website

#2049 Programs 2025
  _data/programs.yml
  collections/_programs/gsoc_2025.html
  collections/_programs/lfx_2025.html
Labels: area/website

#2050 improve-legibility
  collections/_programs/gsoc_2025.html
Labels: area/website

#2048 Update Kanvas Snapshot Version
  .github/workflows/kanvas.yml
Labels: area/ci, kind/chore

#2051 update gsoc-program
  collections/_programs/gsoc_2025.html
Labels: area/website

#2058 update cron schedule
  .github/workflows/add-catalog.yml
Labels: area/ci

#2060 UI Fixes & Navigation Enhancements for meshery.io/catalog
  _includes/catalog-base.html
  _includes/copy-and-download.html
  _includes/dummy-filter.html
  _includes/footer.html
  _includes/partials/catalog-feature.html
  _includes/partials/compatibility.html
  _includes/partials/individual-component.html
  _includes/patterns-filter.html
  _includes/wasm.html
  _layouts/page.html
  _layouts/single-page-model.html
  _sass/blog.scss
  _sass/catalog.scss
  _sass/single-page.scss
  collections/_pages/designs.html
  collections/_pages/filters.html
  collections/_pages/models.html
  collections/_pages/smi.html
  integrations/index.html
  js/pagination.js
Labels: area/website, component/integrations

#2062 Catalog.io pagination support for filters
  _includes/patterns-filter.html
Labels: area/website

#2059 fix-responsive-issues-on-single-catalog-page
  _sass/single-page.scss
Labels: area/website
