Repository meshery/meshery.io, pull requests merged in 2025-03, with the labels that each got.

#2065 catalog fixes
  _includes/alltype.html
  _includes/catalog-base.html
  _includes/patterns-filter.html
  _layouts/filters.html
  _layouts/page.html
  _sass/catalog.scss
  collections/_pages/designs.html
  collections/_pages/filters.html
  collections/_pages/models.html
Labels: area/website

#2066 update models-pages
  _layouts/page.html
  _layouts/single-page-model.html
  _sass/rootvariables.scss
Labels: area/website

#2067 fix:pagination support added to search
  _includes/catalog-base.html
Labels: area/website

#2068 Update all runner images to `ubuntu-24.04`
  .github/workflows/add-catalog.yml
  .github/workflows/delete-catalog.yml
  .github/workflows/jekyll.yml
  .github/workflows/label-commenter.yml
  .github/workflows/labeler.yml
  .github/workflows/newcomers-alert.yml
  .github/workflows/release-drafter.yml
  .github/workflows/slack.yml
Labels: area/ci

#2070 Revert "Update all runner images to `ubuntu-24.04`"
  .github/workflows/add-catalog.yml
  .github/workflows/delete-catalog.yml
  .github/workflows/jekyll.yml
  .github/workflows/label-commenter.yml
  .github/workflows/labeler.yml
  .github/workflows/newcomers-alert.yml
  .github/workflows/release-drafter.yml
  .github/workflows/slack.yml
Labels: area/ci

#2071 update urls and meta descriptions for catalog
  _config.yml
  _config_dev.yml
  _includes/alltype.html
  _includes/partials/catalog-feature.html
  _includes/partials/individual-component.html
  _layouts/page.html
  collections/_pages/catalog.html
  collections/_pages/designs.html
  collections/_pages/filters.html
  collections/_pages/models.html
Labels: area/website

#2069 [chore/docs] Fix Helm Kanvas Snapshot Link
  collections/_extensions/helm-kanvas-snapshot.md
Labels: area/website

#2083 export png format of logo to assets
  assets/images/logos/meshery-logo-dark-text-side.png
Labels: area/website

#2087 fix-program-page-overflow
  _sass/programs.scss
  collections/_programs/gsoc_2025.html
Labels: area/website

#2092 Create Security Slam blog post; Enhance Makefile for RVM integration and update post categories to lowercase
  Makefile
  assets/images/posts/2025-03-27-meshery-at-kubecon-eu-2025/kubecon-eu-2025.png
  collections/_posts/2020/2020-12-02-kubecon-+cloudnativecon.md
  collections/_posts/2025/03/27/2025-03-27-meshery-at-kubecon-eu-2025-security-slam.md
  collections/_posts/2025/03/27/security-sentinel.png
Labels: area/website, area/blog

#2095 Social: add link to Bluesky account
  _config.yml
  _config_dev.yml
  _data/footer.yml
  _includes/features.html
  _includes/social-icon.html
  _sass/footer.scss
  assets/images/posts/2025-03-27-meshery-at-kubecon-eu-2025/1500x500.jpeg
  assets/images/social/bluesky.svg
  community.html
Labels: area/website

#2080 Fix integration docs direction in index.html
  integrations/index.html
Labels: area/website, component/integrations

#2086 [Blog] Meshery Reaches 7,000 Stars
  assets/images/posts/2025-3-25-meshery-reaches-7000-stars/five-holding-onto-rocket.png
  assets/images/posts/2025-3-25-meshery-reaches-7000-stars/meet-five.png
  assets/images/posts/2025-3-25-meshery-reaches-7000-stars/meshery-community-overview.png
  assets/images/posts/2025-3-25-meshery-reaches-7000-stars/meshery-reaches-7000-stars.png
  collections/_posts/2025/2025-3-24-meshery-reaches-7000-stars.md
Labels: area/website, area/blog
