Repository meshery/meshery.io, pull requests merged in 2025-01, with the labels that each got.

#1994 Improved accessibility
  _includes/header.html
  js/stellarnav.js
Labels: area/website

#2016 Fix: added filename inplace of meshery.tar.gz in install
  install
Labels: area/lifecycle, area/website

#2022 hyperlink modal to single extension page
  _includes/extensions/modal.html
Labels: area/website

#2009 fix: improved site's web accessibility
  _includes/features.html
  _includes/header.html
  _includes/home-page.html
  _includes/partials/homePage-integrations.html
  _includes/testimonials.html
Labels: area/website

#2028 move wasm filters to filters collection
  .github/workflows/add-catalog.yml
  _config.yml
  _config_dev.yml
  collections/_filters/176ecfd8-7e17-47f2-afa7-060dc2a27e88.md
  collections/_filters/2f104efc-31b6-4de9-ac0b-bb92f0ce3269.md
  collections/_filters/35987b4f-f08a-4bda-85e4-162d7c67a2e8.md
  collections/_filters/deployment/379e1fa6-5abe-4378-8088-d0282f2de085.md
  collections/_filters/deployment/4533719d-004e-4778-b6d2-c191684707d3.md
  collections/_filters/deployment/455074b5-31b8-48c6-bb7d-ca0d5adaee56.md
  collections/_filters/deployment/99260e02-3d74-42ff-ac4f-6ad001a3cd10.md
  collections/_filters/f7f1fefd-0147-4974-9d9f-00970ee10100.md
  collections/_filters/observability/7d962c10-80ce-4370-b484-bd552f96ddd0.md
  collections/_filters/observability/93f3dcbb-1ee7-4769-9b5d-957b98b527b5.md
Labels: area/ci, area/website

#2019 Error Code Update workflow
  .github/workflows/error-code-updater.yml
  assets/artifact-hub-pkg/component_info.json
Labels: area/ci, area/website

#2015 UI Fix: Modal Category Type Now Visible in Light/Dark Modes
  _includes/modal.html
  _sass/catalog.scss
  _sass/elements.scss
  _sass/navigation.scss
Labels: area/website

#2032 chore: link models to docs
  _layouts/single-page-model.html
Labels: area/website

#2033 chore
  collections/_extensions/github-action-meshery-snapshot.md
  collections/_extensions/github-action-performance-analysis.md
Labels: area/website

#2034 add redirect
  collections/_extensions/github-action-performance-analysis.md
Labels: area/website
