Repository meshery/meshery.io, pull requests merged in 2025-07, with the labels that each got.

#2272 chore: replace existing calendar with LFX calendar url
  calendar.html
Labels: area/website

#2274 feat: sort based on requirements
  collections/_pages/extensions.html
Labels: area/website

#2267 Fix: Re-add Exoscale Icons
  assets/modelsFiles/exoscale-icons.tar
Labels: area/website

#2254 [Fix] Tables and Presentations Tables, and Links
  _data/navigation.yml
  _sass/talks.scss
  assets/js/talks-presentations.js
  collections/_pages/talks-and-presentations.html
  collections/_pages/talks-and-trainings.html
  css/screen.scss
Labels: area/website

#2281 Update kanvas snapshot github action
  .github/workflows/kanvas.yml
Labels: area/ci

#2305 Fixed typo in community section issue #15448
  community.html
Labels: area/website

#2303 Update slack.yml
  .github/workflows/slack.yml
Labels: area/ci

#2230 Added Meshery Projects section to Community page
  collections/_handbook/projects.md
  community.html
Labels: issue/dco, area/website

#2225 created connect with us page
  collections/_handbook/connect-with-us.md
Labels: area/website

#2300 [community] fix: corrected grammar in community calendar section
  community.html
Labels: area/website

#2252 Handbook Learning Page , this PR closes the issue #2189
  collections/_handbook/learning.md
Labels: area/website
