Repository meshery/meshery.io, pull requests merged in 2025-04, with the labels that each got.

#2097 [post] 9th highest velocity project
  _includes/post-title.html
  assets/images/cilium-color.svg
  assets/images/cilium-white.svg
  assets/images/cpx-color.svg
  assets/images/cpx-white.svg
  assets/images/linkerd-color.svg
  assets/images/linkerd-white.svg
  assets/images/oct.svg
  assets/images/octarine.png
  assets/images/posts/2025/ninth-highest-velocity-cncf-project/maintainers-and-contributors.png
  assets/images/posts/2025/ninth-highest-velocity-cncf-project/meshery-project-velocity.png
  assets/images/spiffe-color.svg
  assets/images/spiffe-white.svg
  collections/_pages/programs.html
  collections/_posts/2024/2024-06-19-more-designs.md
  collections/_posts/2025/03/31/2025-3-31-meshery-reaches-7000-stars.md
  collections/_posts/2025/04/01/2025-04-01-ninth-highest-velocity-cncf-project.md
Labels: area/website, area/blog

#2096 feat: Blog Category page
  collections/_pages/categories.html
Labels: area/website

#2099 [blog] fixes
  collections/_pages/categories.html
  collections/_posts/2025/04/01/2025-04-01-ninth-highest-velocity-cncf-project.md
Labels: area/website, area/blog

#2101 Issue template: Update blog.md
  .github/ISSUE_TEMPLATE/blog.md
Labels: area/ci

#2100 [UI] ~ Fix: The Bluesky logo/Icon svg code
  _includes/social-icon.html
Labels: area/website

#2107 Add security-insights.yml file
  .github/security-insights.yml
Labels: area/ci

#2114 update
  .github/workflows/add-catalog.yml
Labels: area/ci

#2115 add if condition back
  .github/workflows/add-catalog.yml
Labels: area/ci

#2120 Revert "update email action to use smtp-relay"
  .github/workflows/add-catalog.yml
Labels: area/ci

#2121 feat(chatbot): integrate theme-adaptive floating chatbot with respons…
  _includes/footer.html
  assets/css/chatbot.css
Labels: language/javascript, language/html, area/website

#2126 feat(chatbot): finalize responsive Meshery chatbot with theming & UX improvements
  _includes/footer.html
  assets/css/chatbot.css
  images/integrations/chatbot/maximize.svg
  images/integrations/chatbot/rotate-cw.svg
  images/integrations/chatbot/x.svg
Labels: area/website

#2124 fix: typos
  .github/ISSUE_TEMPLATE/documentation.md
  _data/wasm.json
  collections/_extensions/kubectl-meshsync-snapshot.md
  collections/_posts/2023/2023-12-08-graphql-and-rest-apis.md
  collections/_posts/2024/2024-12-20-meshery-v0.8.0-release-announcement.md
  collections/_posts/2025/03/27/2025-03-27-meshery-at-kubecon-eu-2025-security-slam.md
Labels: area/ci, area/website, area/blog

#2127 Add bluesky logo svg
  assets/images/logos/bluesky-dark.svg
  assets/images/logos/bluesky-light.svg
  community.html
Labels: area/website

#2125 chore: added a link to the github workflow
  README.md
Labels: area/docs, area/website

#2131 Revert "add if condition back"
  .github/workflows/add-catalog.yml
Labels: area/ci

#2132 Revert "Revert "add if condition back""
  .github/workflows/add-catalog.yml
Labels: area/ci

#2134 Revert chatbot
  _includes/footer.html
  assets/css/chatbot.css
  images/integrations/chatbot/maximize.svg
  images/integrations/chatbot/rotate-cw.svg
  images/integrations/chatbot/x.svg
Labels: area/website

#2109 feat: ongoing ui e2e playwright tests post
  collections/_posts/2025/04/05/2025-04-01-improving-mesherys-ui-e2e-tests.md
Labels: area/website, area/blog

#2137 chore: update featured-image for E2e UI blog and wrap tags
  _sass/blog.scss
  assets/images/posts/2025-04-01-improving-mesherys-ui-e2e-tests/6-02.png
  collections/_posts/2025/04/05/2025-04-01-improving-mesherys-ui-e2e-tests.md
Labels: area/website, area/blog

#2141 Update README.md
  README.md
Labels: area/docs, area/website

#2143 [Blog] Add blog sidebar and category links
  _config.yml
  _config_dev.yml
  _includes/post-title.html
  _sass/blog.scss
  _sass/layout.scss
  blog/index.html
  collections/_pages/categories.html
  collections/_posts/2019/2019-07-20-the-process-for-direct-sales.md
  collections/_posts/2020/2020-05-21-meshmark-explained.md
  collections/_posts/2020/2020-07-30-analyzing-with-smp.md
  collections/_posts/2020/2020-12-02-kubecon-+cloudnativecon.md
  collections/_posts/2020/2020-12-04-service-mesh-offers-promising-solution-for-cloud-native-networking.md
  collections/_posts/2021/2021-04-26-validating-smi-conformance-with-meshery.md
  collections/_posts/2022/2022-01-26-pipelining-service-mesh-specifications.md
  collections/_posts/2022/2022-10-24-meshery-v0.6-release.md
  collections/_posts/2023/2023-01-09-meshery-system-provider.md
  collections/_posts/2023/2023-06-16-changing-meshery-release-channels.md
  collections/_posts/2023/2023-12-08-graphql-and-rest-apis.md
  collections/_posts/2023/2023-12-15-meshery-the-extensible-platform.md
  collections/_posts/2023/2023-12-19-meshery-relationships.md
  collections/_posts/2023/2023-12-22-meshery-v07-release-announcement.md
  collections/_posts/2023/2023-9-2-layer5-badge-program.md
  collections/_posts/2024/2024-02-17-simplifying-cloud-infrastructure-and-kubernetes-management.md
  collections/_posts/2024/2024-03-29-models-designs-legos.md
  collections/_posts/2024/2024-04-09-designs-on-artifacthub.md
  collections/_posts/2024/2024-06-19-more-designs.md
  collections/_posts/2024/2024-08-14-infrastructure-design-by-meshery.md
  collections/_posts/2024/2024-10-01-meshery-is-not-a-service-mesh-manager.md
  collections/_posts/2024/2024-11-06-contributing-to-meshery-models.md
  collections/_posts/2024/2024-12-20-meshery-v0.8.0-release-announcement.md
  collections/_posts/2025/03/27/2025-03-27-meshery-at-kubecon-eu-2025-security-slam.md
  collections/_posts/2025/03/31/2025-3-31-meshery-reaches-7000-stars.md
  collections/_posts/2025/04/01/2025-04-01-ninth-highest-velocity-cncf-project.md
  collections/_posts/2025/04/05/2025-04-01-improving-mesherys-ui-e2e-tests.md
  collections/_posts/_defaults.md
Labels: area/website, area/blog

#2136 docs(readme): edited twitter badge
  README.md
Labels: area/docs, area/website

#2129 header alignment fix and go back button fix in no page found page--
  _includes/pagenotfound.html
  _sass/navigation.scss
Labels: area/website

#2144 Justify blog-sidebar to the end on large screens and center it on small screens
  blog/index.html
Labels: area/website, area/blog

#2149 add-social-share btns
  _layouts/post.html
Labels: area/website
